Repository netdata/go.d.plugin, pull requests merged in 2020-11, with the labels that each got.

#487 Extend filecheck module with dir size chart
  modules/filecheck/README.md
  modules/filecheck/charts.go
  modules/filecheck/collect_dirs.go
  modules/filecheck/filecheck_test.go
Labels: area/documentation, area/modules, area/tests

#490 Filecheck: make dir size metrics collection optional/configurable
  config/go.d/filecheck.conf
  modules/filecheck/README.md
  modules/filecheck/collect_dirs.go
  modules/filecheck/collect_files.go
  modules/filecheck/filecheck.go
  modules/filecheck/filecheck_test.go
  modules/filecheck/init.go
Labels: area/conf, area/docs, area/modules, area/tests

#491 add helper functions readme
  pkg/README.md
Labels: area/docs, area/pkg

#493 Change configure doc to reflect new standard
  modules/activemq/README.md
  modules/apache/README.md
  modules/bind/README.md
  modules/cockroachdb/README.md
  modules/consul/README.md
  modules/coredns/README.md
  modules/couchdb/README.md
  modules/dnsmasq_dhcp/README.md
  modules/dnsquery/README.md
  modules/docker_engine/README.md
  modules/dockerhub/README.md
  modules/fluentd/README.md
  modules/freeradius/README.md
  modules/hdfs/README.md
  modules/httpcheck/README.md
  modules/k8s_kubelet/README.md
  modules/k8s_kubeproxy/README.md
  modules/lighttpd/README.md
  modules/lighttpd2/README.md
  modules/logstash/README.md
  modules/nginx/README.md
  modules/openvpn/README.md
  modules/phpdaemon/README.md
  modules/phpfpm/README.md
  modules/pihole/README.md
  modules/portcheck/README.md
  modules/pulsar/README.md
  modules/rabbitmq/README.md
  modules/scaleio/README.md
  modules/solr/README.md
  modules/springboot2/README.md
  modules/squidlog/README.md
  modules/tengine/README.md
  modules/unbound/README.md
  modules/vcsa/README.md
  modules/vernemq/README.md
  modules/vsphere/README.md
  modules/weblog/README.md
  modules/whoisquery/README.md
  modules/wmi/README.md
  modules/x509check/README.md
  modules/zookeeper/README.md
Labels: area/docs, area/modules

#498 mysql: handle not valid semver version string
  modules/mysql/collect.go
  modules/mysql/collect_version.go
  modules/mysql/testdata/mysql/v8.0.21/version.txt
Labels: area/modules, area/tests

#495 add `powerdns_recursor` collector
  config/go.d/powerdns_recursor.conf
  modules/init.go
  modules/powerdns_recursor/README.md
  modules/powerdns_recursor/charts.go
  modules/powerdns_recursor/collect.go
  modules/powerdns_recursor/dev.md
  modules/powerdns_recursor/init.go
  modules/powerdns_recursor/metrics.go
  modules/powerdns_recursor/recursor.go
  modules/powerdns_recursor/recursor_test.go
  modules/powerdns_recursor/testdata/authoritative/statistics.json
  modules/powerdns_recursor/testdata/v4.3.1/statistics.json
Labels: area/conf, area/docs, area/modules, area/tests

#501 add `powerdns` collector (authoritative ns)
  config/go.d/powerdns.conf
  modules/init.go
  modules/powerdns/README.md
  modules/powerdns/authoritativens.go
  modules/powerdns/authoritativens_test.go
  modules/powerdns/charts.go
  modules/powerdns/collect.go
  modules/powerdns/dev.md
  modules/powerdns/init.go
  modules/powerdns/metrics.go
  modules/powerdns/testdata/recursor/statistics.json
  modules/powerdns/testdata/v4.3.0/statistics.json
Labels: area/conf, area/docs, area/modules, area/tests

#502 systemdunits: use appropriate ListUnits function depends on systemd version
  modules/systemdunits/client.go
  modules/systemdunits/collect.go
  modules/systemdunits/init.go
  modules/systemdunits/systemdunits.go
  modules/systemdunits/systemdunits_test.go
Labels: area/modules, area/tests

#503 add dnsmasq dns forwarder collector
  README.md
  config/go.d/dnsmasq.conf
  modules/dnsmasq/README.md
  modules/dnsmasq/charts.go
  modules/dnsmasq/collect.go
  modules/dnsmasq/dev.md
  modules/dnsmasq/dnsmasq.go
  modules/dnsmasq/dnsmasq_test.go
  modules/dnsmasq/init.go
  modules/init.go
Labels: area/conf, area/docs, area/modules, area/tests

#504 add DNSdist module
  README.md
  config/go.d.conf
  config/go.d/dnsdist.conf
  modules/dnsdist/README.md
  modules/dnsdist/charts.go
  modules/dnsdist/collect.go
  modules/dnsdist/dev.md
  modules/dnsdist/dnsdist.go
  modules/dnsdist/dnsdist_test.go
  modules/dnsdist/init.go
  modules/dnsdist/metrics.go
  modules/dnsdist/testdata/v1.5.1/jsonstat.json
  modules/init.go
Labels: area/agent, area/conf, area/docs, area/modules, area/tests

#508 modules/dnsdist: add docker setup guide
  modules/dnsdist/dev.md
Labels: area/docs, area/modules

#509 dnsdist: fix data type
  modules/dnsdist/metrics.go
  modules/dnsdist/testdata/v1.5.1/jsonstat.json
Labels: area/modules, area/tests

#510 dnsdist: change metrics data type to float64
  modules/dnsdist/metrics.go
Labels: area/modules

#511 vernemq: fix `netsplit` chart dims algorithm
  modules/vernemq/charts.go
Labels: area/modules

#514 module/weblog: log first parse error on collect
  modules/weblog/collect.go
  modules/weblog/logline.go
Labels: area/modules
