Repository netdata/go.d.plugin, pull requests merged in 2020-12, with the labels that each got.

#521 agent/job/state: proprely handle jobs with same module/name
  agent/agent.go
  agent/job/state/state.go
  agent/job/state/state_test.go
Labels: area/agent, area/tests

#526 agent: fix job detection retry
  agent/job/build/build.go
  agent/job/build/cache.go
Labels: area/agent

#518 add `redis` and `pika` modules
  README.md
  config/go.d.conf
  config/go.d/pika.conf
  config/go.d/redis.conf
  go.mod
  go.sum
  modules/init.go
  modules/pika/README.md
  modules/pika/charts.go
  modules/pika/collect.go
  modules/pika/collect_info.go
  modules/pika/dev.md
  modules/pika/init.go
  modules/pika/pika.go
  modules/pika/pika_test.go
  modules/pika/testdata/redis/info_all.txt
  modules/pika/testdata/v3.4.0/info_all.txt
  modules/redis/README.md
  modules/redis/charts.go
  modules/redis/collect.go
  modules/redis/collect_info.go
  modules/redis/dev.md
  modules/redis/init.go
  modules/redis/redis.go
  modules/redis/redis_test.go
  modules/redis/testdata/pika/info_all.txt
  modules/redis/testdata/v6.0.9/info_all.txt
Labels: area/conf, area/docs, area/modules

#456 docs: add how-to-write-a-module.md
  docs/how-to-write-a-module.md
  modules/example/charts.go
  modules/example/example_test.go
  modules/example/init.go
Labels: area/docs, area/modules

#524 Energid
  README.md
  config/go.d/energid.conf
  modules/energid/README.md
  modules/energid/charts.go
  modules/energid/collect.go
  modules/energid/dev.md
  modules/energid/energid.go
  modules/energid/energid_test.go
  modules/energid/init.go
  modules/energid/jsonrpc.go
  modules/energid/metrics.go
  modules/energid/testdata/v2.4.1/getblockchaininfo.json
  modules/energid/testdata/v2.4.1/getmemoryinfo.json
  modules/energid/testdata/v2.4.1/getmempoolinfo.json
  modules/energid/testdata/v2.4.1/getnetworkinfo.json
  modules/energid/testdata/v2.4.1/gettxoutsetinfo.json
  modules/init.go
Labels: area/conf, area/docs, area/modules

#530 add couchbase module to collect basic stats from buckets
  config/go.d.conf
  config/go.d/couchbase.conf
  modules/couchbase/README.md
  modules/couchbase/charts.go
  modules/couchbase/collect.go
  modules/couchbase/couchbase.go
  modules/couchbase/couchbase_test.go
  modules/couchbase/dev.md
  modules/couchbase/init.go
  modules/couchbase/metrics.go
  modules/couchbase/testdata/6.6.0/buckets_basic_stats.json
  modules/init.go
Labels: area/conf, area/docs, area/modules

#534 update `vsphere` module README.md
  modules/vsphere/README.md
Labels: area/docs, area/modules
