Repository netdata/go.d.plugin, pull requests merged in 2021-06, with the labels that each got.

#581 add caddy prometheus endpoint
  config/go.d/prometheus.conf
Labels: area/conf, area/modules

#580 support openethereum/geth metrics
  config/go.d/prometheus.conf
Labels: area/conf, area/modules

#584 pkg/logs: remove new line char when reading a line
  pkg/logs/json.go
  pkg/logs/ltsv.go
  pkg/logs/regexp.go
Labels: area/pkg

#589 vsphere: fix scraping metrics when resources are not discovered
  modules/vsphere/collect.go
Labels: area/modules

#591 phpfpm: prefer "socket" if set
  modules/phpfpm/README.md
  modules/phpfpm/init.go
Labels: area/docs, area/modules
