Repository netdata/go.d.plugin, pull requests merged in 2021-09, with the labels that each got.

#608 Mongo increase test coverage
  modules/mongodb/collect_replsetstatus.go
  modules/mongodb/connector_mock_test.go
  modules/mongodb/model.go
  modules/mongodb/mongodb_test.go
  modules/mongodb/testdata/v5.0.0/dbStats.go
  modules/mongodb/testdata/v5.0.0/replSetStatus.go
  modules/mongodb/testdata/v5.0.0/serverStatus.go
Labels: area/modules

#610 Fixed vsca typos to vcsa
  modules/vcsa/README.md
Labels: area/modules, area/docs

#611 split Mysql innodb_buffer_pool_read_ahead into 2 charts
  modules/mysql/charts.go
Labels: area/modules

#613 fix duplicate chart ctx for mysql
  modules/mysql/charts.go
Labels: area/modules

#614 fix duplicate chart ctx for freeradius
  modules/freeradius/charts.go
Labels: area/modules

#615 fix duplicate chart ctx for kubelet
  modules/k8s_kubelet/charts.go
Labels: area/modules

#616 fix duplicate chart ctx for coredns
  modules/coredns/charts.go
Labels: area/modules

#617 fix duplicate chart ctx for vsphere
  modules/vsphere/charts.go
Labels: area/modules

#618 fix duplicate chart ctx for hdfs
  modules/hdfs/charts.go
Labels: area/modules

#621 squidlog: add NONE to valid request methods
  modules/squidlog/logline.go
  modules/squidlog/logline_test.go
Labels: area/modules

#623 Overhaul automated review CI.
  .github/workflows/reviewdog.yml
Labels: area/CI

#625 fix ci git diff
  .github/workflows/reviewdog.yml
Labels: area/CI

#609 mongodb shard charts and dimensions
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/collect.go
  modules/mongodb/collect_server_status.go
  modules/mongodb/collect_shard.go
  modules/mongodb/connector.go
  modules/mongodb/connector_mock_test.go
  modules/mongodb/dev.md
  modules/mongodb/model.go
  modules/mongodb/mongodb.go
  modules/mongodb/mongodb_test.go
  modules/mongodb/testdata/v5.0.0/shard.go
Labels: area/modules, area/docs
