Repository netdata/go.d.plugin, pull requests merged in 2021-02, with the labels that each got.

#548 modules/dnsmasq: remove `cache_entries` metric
  modules/dnsmasq/README.md
  modules/dnsmasq/charts.go
  modules/dnsmasq/collect.go
  modules/dnsmasq/dnsmasq_test.go
Labels: area/docs, area/modules, group/d-c

#545 modules/prometheus: add `force_absolute_algorithm` config option
  config/go.d/prometheus.conf
  modules/prometheus/README.md
  modules/prometheus/collect_gauge_counter.go
  modules/prometheus/init.go
  modules/prometheus/prometheus.go
  modules/prometheus/prometheus_test.go
Labels: area/conf, area/docs, area/modules, group/d-c

#550 agent: fix mem leak
  agent/job/build/build.go
  agent/job/job.go
  agent/module/job.go
Labels: area/agent, group/d-c

#552 add supervisord module
  README.md
  config/go.d.conf
  config/go.d/supervisord.conf
  go.mod
  go.sum
  modules/init.go
  modules/supervisord/README.md
  modules/supervisord/charts.go
  modules/supervisord/client.go
  modules/supervisord/collect.go
  modules/supervisord/dev.md
  modules/supervisord/init.go
  modules/supervisord/supervisord.go
  modules/supervisord/supervisord_test.go
Labels: area/conf, area/docs, area/modules, data-collection-mteam

#553 Fix broken links
  README.md
  modules/filecheck/README.md
  modules/squidlog/README.md
  modules/vcsa/README.md
Labels: area/docs, area/modules
