Repository netdata/go.d.plugin, pull requests merged in 2021-10, with the labels that each got.

#629 whoisquery: remove domain validation
  modules/whoisquery/collect.go
  modules/whoisquery/provider.go
  modules/whoisquery/whoisquery_test.go
Labels: area/modules

#630 agent: dont exit on SIGPIPE
  agent/agent.go
Labels: area/agent

#624 socket client
  pkg/socket/client.go
  pkg/socket/client_test.go
  pkg/socket/servers_test.go
  pkg/socket/types.go
Labels: area/pkg
