Repository netdata/go.d.plugin, pull requests merged in 2021-01, with the labels that each got.

#535 Add meta descriptions to each collector
  modules/activemq/README.md
  modules/apache/README.md
  modules/bind/README.md
  modules/cockroachdb/README.md
  modules/consul/README.md
  modules/coredns/README.md
  modules/couchbase/README.md
  modules/couchdb/README.md
  modules/dnsdist/README.md
  modules/dnsmasq/README.md
  modules/dnsmasq_dhcp/README.md
  modules/dnsquery/README.md
  modules/docker_engine/README.md
  modules/dockerhub/README.md
  modules/elasticsearch/README.md
  modules/energid/README.md
  modules/example/README.md
  modules/filecheck/README.md
  modules/fluentd/README.md
  modules/freeradius/README.md
  modules/hdfs/README.md
  modules/httpcheck/README.md
  modules/isc_dhcpd/README.md
  modules/k8s_kubelet/README.md
  modules/k8s_kubeproxy/README.md
  modules/lighttpd/README.md
  modules/lighttpd2/README.md
  modules/logstash/README.md
  modules/mysql/README.md
  modules/nginx/README.md
  modules/openvpn/README.md
  modules/phpdaemon/README.md
  modules/phpfpm/README.md
  modules/pihole/README.md
  modules/pika/README.md
  modules/portcheck/README.md
  modules/powerdns/README.md
  modules/powerdns_recursor/README.md
  modules/prometheus/README.md
  modules/pulsar/README.md
  modules/rabbitmq/README.md
  modules/redis/README.md
  modules/scaleio/README.md
  modules/solr/README.md
  modules/springboot2/README.md
  modules/squidlog/README.md
  modules/systemdunits/README.md
  modules/tengine/README.md
  modules/unbound/README.md
  modules/vcsa/README.md
  modules/vernemq/README.md
  modules/vsphere/README.md
  modules/weblog/README.md
  modules/whoisquery/README.md
  modules/wmi/README.md
  modules/x509check/README.md
  modules/zookeeper/README.md
Labels: area/docs, area/modules

#537 modules/prometheus: handle spaces in label values
  modules/prometheus/group.go
  modules/prometheus/prometheus_test.go
Labels: area/modules

#539 add traefik metrics endpoint to prometheus.conf
  config/go.d/prometheus.conf
Labels: area/conf, area/modules

#541 modules/prometheus: add expected_prefix option
  config/go.d/prometheus.conf
  modules/prometheus/collect.go
  modules/prometheus/prometheus.go
  modules/prometheus/prometheus_test.go
Labels: area/conf, area/modules

#538 modules/filecheck: add patterns support
  config/go.d/filecheck.conf
  modules/filecheck/README.md
  modules/filecheck/charts.go
  modules/filecheck/collect.go
  modules/filecheck/collect_dirs.go
  modules/filecheck/collect_files.go
  modules/filecheck/filecheck.go
  modules/filecheck/filecheck_test.go
Labels: area/conf, area/docs, area/modules

#523 add nginxvts
  README.md
  config/go.d.conf
  config/go.d/nginxvts.conf
  modules/init.go
  modules/nginxvts/README.md
  modules/nginxvts/charts.go
  modules/nginxvts/collect.go
  modules/nginxvts/init.go
  modules/nginxvts/metrics.go
  modules/nginxvts/nginxvts.go
  modules/nginxvts/nginxvts_test.go
  modules/nginxvts/testdata/vts.json
Labels: area/conf, area/docs, area/modules

#543 modules/nginx-vts: tune charts and small cleanup
  modules/nginxvts/README.md
  modules/nginxvts/charts.go
  modules/nginxvts/collect.go
  modules/nginxvts/dev.md
  modules/nginxvts/init.go
  modules/nginxvts/metrics.go
  modules/nginxvts/nginxvts.go
  modules/nginxvts/nginxvts_test.go
  modules/nginxvts/testdata/vts-v0.1.18.json
  modules/nginxvts/testdata/vts.json
Labels: area/docs, area/modules
