Repository netdata/go.d.plugin, pull requests merged in 2021-08, with the labels that each got.

#600 wrong link for new module import
  README.md
Labels: area/docs

#598 mongodb collector [serverStatus only]
  README.md
  config/go.d.conf
  config/go.d/mongodb.conf
  go.mod
  go.sum
  mocks/conf.d/go.d.conf
  mocks/conf.d/go.d/mongodb.conf
  modules/init.go
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/collect.go
  modules/mongodb/connector.go
  modules/mongodb/dev.md
  modules/mongodb/model.go
  modules/mongodb/mongodb.go
  modules/mongodb/mongodb_test.go
  modules/mongodb/testdata/v5.0.0/serverStatus.go
Labels: area/modules, area/docs, area/conf

#603 fix some mongodb serverStatus charts
  modules/mongodb/charts.go
  modules/mongodb/model.go
Labels: area/modules

#602 mongo dbstats charts
  config/go.d/mongodb.conf
  mocks/conf.d/go.d/mongodb.conf
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/collect.go
  modules/mongodb/connector.go
  modules/mongodb/model.go
  modules/mongodb/mongodb.go
  modules/mongodb/mongodb_test.go
Labels: area/modules, area/docs, area/conf

#605 add traefik module
  README.md
  config/go.d.conf
  config/go.d/traefik.conf
  modules/init.go
  modules/traefik/README.md
  modules/traefik/charts.go
  modules/traefik/collect.go
  modules/traefik/init.go
  modules/traefik/testdata/v2.2.1/metrics.txt
  modules/traefik/traefik.go
  modules/traefik/traefik_test.go
Labels: area/modules, area/docs, area/conf

#604 ReplicaSetStatus charts
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/collect.go
  modules/mongodb/connector.go
  modules/mongodb/model.go
  modules/mongodb/mongodb.go
  modules/mongodb/mongodb_test.go
Labels: area/modules, area/docs

#606 Mongo collector code refactoring
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/collect.go
  modules/mongodb/collect_dbstats.go
  modules/mongodb/collect_replsetstatus.go
  modules/mongodb/collect_server_status.go
  modules/mongodb/mongodb.go
Labels: area/modules, area/docs

#607 mysql+mariadb Process List Query Statistics
  modules/mysql/README.md
  modules/mysql/charts.go
  modules/mysql/collect.go
  modules/mysql/collect_queries_statistics.go
  modules/mysql/mysql_test.go
  modules/mysql/testdata/mariadb/v10.5.4/process_list.txt
  modules/mysql/testdata/mariadb/v5.5.46/process_list.txt
  modules/mysql/testdata/mysql/v8.0.21/process_list.txt
Labels: area/modules, area/docs
