Repository netdata/go.d.plugin, pull requests merged in 2021-07, with the labels that each got.

#593 wmi: add more OS(OperatingSystem) charts
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/metrics.go
  modules/wmi/wmi_test.go
Labels: area/docs, area/modules

#595 fix various golangci-lint warning
  cmd/godplugin/main.go
  modules/apache/apiclient.go
  modules/solr/solr.go
  modules/unbound/collect.go
Labels: area/modules

#585 Collector for prometheus endpoint of go-ethereum
  config/go.d/geth.conf
  modules/geth/README.md
  modules/geth/charts.go
  modules/geth/collect.go
  modules/geth/geth.go
  modules/geth/metrics.go
  modules/geth/testdata/metrics_geth.txt
  modules/init.go
Labels: area/conf, area/docs, area/modules

#599 add haproxy module
  README.md
  config/go.d.conf
  config/go.d/haproxy.conf
  modules/haproxy/README.md
  modules/haproxy/charts.go
  modules/haproxy/collect.go
  modules/haproxy/haproxy.go
  modules/haproxy/haproxy_test.go
  modules/haproxy/init.go
  modules/haproxy/testdata/v2.3.10/metrics.txt
  modules/init.go
Labels: area/conf, area/docs, area/modules
