Repository netdata/go.d.plugin, pull requests merged in 2022-10, with the labels that each got.

#900 feat(consul): collect agent metrics
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_checks.go
  modules/consul/collect_metrics.go
  modules/consul/consul.go
  modules/consul/consul_test.go
  modules/consul/testdata/metrics.json
Labels: area/modules

#908 feat: disable internal monitoring charts if NETDATA_INTERNALS_MONITORING set to NO
  agent/module/job.go
Labels: area/agent

#910 Add explanation for the regexp syntax used
  config/go.d/httpcheck.conf
Labels: area/modules, area/conf

#909 Update readme
  modules/postgres/README.md
Labels: area/modules, area/docs

#911 feat(dns_query): a chart per server
  modules/dnsquery/README.md
  modules/dnsquery/charts.go
  modules/dnsquery/collect.go
  modules/dnsquery/dnsquery.go
  modules/dnsquery/dnsquery_test.go
  modules/dnsquery/init.go
  modules/dnsquery/worker.go
Labels: area/modules, area/docs

#912 feat(dns_query): allow to set list of query record types
  config/go.d/dns_query.conf
  modules/dnsquery/README.md
  modules/dnsquery/charts.go
  modules/dnsquery/collect.go
  modules/dnsquery/dnsquery.go
  modules/dnsquery/dnsquery_test.go
  modules/dnsquery/init.go
Labels: area/modules, area/docs, area/conf

#913 feat(dns_query): add query status chart
  modules/dnsquery/README.md
  modules/dnsquery/charts.go
  modules/dnsquery/collect.go
  modules/dnsquery/dnsquery_test.go
Labels: area/modules, area/docs

#914 chore(pihole): rm blocklist file existence state
  modules/pihole/charts.go
  modules/pihole/client/types.go
  modules/pihole/collect.go
  modules/pihole/pihole_test.go
Labels: area/modules

#921 chore: use fsnotify.Event.Op.Has()
  agent/job/discovery/file/watch.go
Labels: area/agent

#922 fix(pihole): convert to perc manually instead of percentage-of-incremental-row
  modules/pihole/charts.go
  modules/pihole/collect.go
  modules/pihole/pihole_test.go
Labels: area/modules

#901 Cassandra module
  README.md
  config/go.d/cassandra.conf
  modules/cassandra/README.md
  modules/cassandra/cassandra.go
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/collect_blocked_task.go
  modules/cassandra/collect_cache.go
  modules/cassandra/collect_disk.go
  modules/cassandra/collect_error_request.go
  modules/cassandra/collect_gc.go
  modules/cassandra/collect_latency.go
  modules/cassandra/collect_pending_task.go
  modules/cassandra/collect_troughput.go
  modules/cassandra/dev.md
  modules/cassandra/init.go
  modules/cassandra/metrics.go
  modules/cassandra/testdata/jmx_exporter.yaml
  modules/cassandra/testdata/metrics.txt
  modules/init.go
Labels: area/modules, area/docs, area/conf

#923 chore(cassandra): simplify
  modules/cassandra/cassandra.go
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/collect_blocked_task.go
  modules/cassandra/collect_cache.go
  modules/cassandra/collect_disk.go
  modules/cassandra/collect_error_request.go
  modules/cassandra/collect_gc.go
  modules/cassandra/collect_latency.go
  modules/cassandra/collect_pending_task.go
  modules/cassandra/collect_troughput.go
  modules/cassandra/dev.md
  modules/cassandra/init.go
  modules/cassandra/metrics.go
  modules/cassandra/testdata/jmx_exporter.yaml
  modules/cassandra/testdata/metrics.txt
Labels: area/modules, area/docs

#925 feat(cassandra): add thread pools active/pending tasks
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/metrics.go
Labels: area/modules

#926 cassandra various fixes
  config/go.d/cassandra.conf
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/metrics.go
  modules/cassandra/testdata/jmx_exporter.yaml
  modules/cassandra/testdata/metrics.txt
Labels: area/modules

#928 Fix broken init.go link in README.md
  README.md
Labels: area/docs

#929 Fix typo
  modules/cassandra/README.md
Labels: area/modules, area/docs

#930 fix(cassandra): don't collect and blacklist table metric for now
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/metrics.go
  modules/cassandra/testdata/jmx_exporter.yaml
Labels: area/modules, area/docs

#932 feat(cassandra): a chart per thread pool
  modules/cassandra/README.md
  modules/cassandra/cassandra.go
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/metrics.go
Labels: area/modules, area/docs

#934 feat(cassandra): add cache utilization
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/dev.md
  modules/cassandra/jmx_exporter.yaml
  modules/cassandra/metrics.go
  modules/cassandra/testdata/metrics.txt
Labels: area/modules, area/docs

#936 feat(mysql): collect Table_open_cache_overflows
  modules/mysql/README.md
  modules/mysql/charts.go
  modules/mysql/collect.go
  modules/mysql/collect_global_status.go
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
Labels: area/modules, area/docs

#938 Add TCP metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_tcp.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#940 chore(wmi): change tcp charts order
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect_tcp.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.16.0/metrics.txt
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#941 feat(web): resolve hostname in URL host
  config/go.d/wmi.conf
  pkg/web/request.go
  pkg/web/request_test.go
  pkg/web/web.go
Labels: area/pkg

#942 fix(pihole): respect headers config option
  modules/pihole/client/client.go
  modules/pihole/pihole.go
Labels: area/modules

#943 Add tcp as parameter
  modules/wmi/README.md
Labels: area/modules, area/docs

#944 refactor pihole
  modules/pihole/README.md
  modules/pihole/charts.go
  modules/pihole/client/client.go
  modules/pihole/client/client_test.go
  modules/pihole/client/testdata/getForwardDestinations.json
  modules/pihole/client/types.go
  modules/pihole/collect.go
  modules/pihole/init.go
  modules/pihole/metrics.go
  modules/pihole/pihole.go
  modules/pihole/pihole_test.go
  modules/pihole/testdata/getForwardDestinations.json
  modules/pihole/testdata/getQueryTypes.json
  modules/pihole/testdata/summary.json
  modules/pihole/testdata/summaryRaw.json
  modules/pihole/testdata/topClients.json
  modules/pihole/testdata/topItems.json
Labels: area/modules, area/docs

#945 feat(cassandra): collect row cache
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/jmx_exporter.yaml
  modules/cassandra/metrics.go
  modules/cassandra/testdata/metrics.txt
Labels: area/modules, area/docs

#946 fix(cassandra): dropped msgs count instead one minute rate
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/jmx_exporter.yaml
  modules/cassandra/metrics.go
  modules/cassandra/testdata/metrics.txt
Labels: area/modules, area/docs

#947 feat(cassandra): add read/write client req latencies histogram
  modules/cassandra/README.md
  modules/cassandra/cassandra_test.go
  modules/cassandra/charts.go
  modules/cassandra/collect.go
  modules/cassandra/jmx_exporter.yaml
  modules/cassandra/metrics.go
  modules/cassandra/testdata/metrics.txt
Labels: area/modules, area/docs

#948 chore: bump k8s charts priority
  modules/k8s_kubelet/kubelet.go
  modules/k8s_kubeproxy/kubeproxy.go
  modules/k8s_state/charts.go
Labels: area/modules

#950 fix config unmarshalling with web.HTTP inlined
  modules/wmi/wmi.go
  pkg/web/request.go
  pkg/web/request_test.go
Labels: area/modules, area/pkg

#952 feat: add ping collector
  README.md
  config/go.d.conf
  config/go.d/ping.conf
  go.mod
  go.sum
  modules/init.go
  modules/ping/README.md
  modules/ping/charts.go
  modules/ping/collect.go
  modules/ping/init.go
  modules/ping/ping.go
  modules/ping/ping_test.go
  modules/ping/prober.go
Labels: area/modules, area/docs, area/conf

#953 WMI Process (APPS)
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_apps.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#954 chore(wmi): rename apps to processes plus small fixes
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_apps.go
  modules/wmi/collect_process.go
  modules/wmi/init.go
  modules/wmi/metrics.go
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#956 Rename function
  modules/wmi/charts.go
Labels: area/modules

#958 fix: don't use prometheus but wmi on localhost
  config/go.d/prometheus.conf
  config/go.d/wmi.conf
Labels: area/modules, area/conf

#959 replace hostname in job name
  agent/job/confgroup/group.go
  agent/job/confgroup/group_test.go
  agent/job/confgroup/hostname.go
  config/go.d/wmi.conf
  modules/wmi/wmi.go
  pkg/web/request.go
  pkg/web/request_test.go
Labels: area/modules, area/agent, area/pkg, area/conf
