Repository netdata/go.d.plugin, pull requests merged in 2022-12, with the labels that each got.

#1007 ADCS metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_adcs.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#1009 fix(wmi): fix adcs time metrics precision
  modules/wmi/charts.go
  modules/wmi/collect_adcs.go
  modules/wmi/wmi_test.go
Labels: area/modules

#1010 feat(nginxplus): collect SSL errors metrics
  modules/nginxplus/README.md
  modules/nginxplus/charts.go
  modules/nginxplus/collect.go
  modules/nginxplus/nginx_http_api.go
  modules/nginxplus/nginxplus_test.go
  modules/nginxplus/testdata/api-8/ssl.json
Labels: area/modules, area/docs

#1017 prometheus updates
  modules/prometheus/README.md
  modules/prometheus/cache.go
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/init.go
  modules/prometheus/prometheus.go
  modules/prometheus/prometheus_test.go
Labels: area/modules, area/docs

#1018 fix(postgres): do queryXactQueryRunningTime only for v10+
  modules/postgres/collect.go
  modules/postgres/do_query_global.go
  modules/postgres/postgres.go
Labels: area/modules

#1023 feat(nvidia_smi): collect CSV format
  config/go.d/nvidia_smi.conf
  modules/nvidia_smi/README.md
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect.go
  modules/nvidia_smi/collect_csv.go
  modules/nvidia_smi/collect_xml.go
  modules/nvidia_smi/exec.go
  modules/nvidia_smi/init.go
  modules/nvidia_smi/nvidia_smi.go
  modules/nvidia_smi/nvidia_smi_test.go
  modules/nvidia_smi/testdata/help-query-gpu.txt
  modules/nvidia_smi/testdata/tesla-p100.csv
Labels: area/modules, area/docs, area/conf

#1025 docs: add missing label scope
  modules/consul/README.md
  modules/dnsmasq_dhcp/README.md
  modules/httpcheck/README.md
  modules/k8s_state/README.md
  modules/mysql/README.md
  modules/pgbouncer/README.md
  modules/portcheck/README.md
  modules/systemdunits/README.md
  modules/whoisquery/README.md
  modules/wireguard/README.md
  modules/wmi/README.md
  modules/x509check/README.md
Labels: area/modules, area/docs

#1027 prom: skip summary/histogram NaN values
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/prometheus_test.go
Labels: area/modules

#1028 feat(consul): collect prometheus key metrics
  modules/consul/README.md
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_checks.go
  modules/consul/collect_config.go
  modules/consul/collect_metrics.go
  modules/consul/consul.go
  modules/consul/consul_test.go
  modules/consul/init.go
  modules/consul/testdata/checks.txt
  modules/consul/testdata/metrics.json
  modules/consul/testdata/v1.13.2/client_v1-agent-metrics.txt
  modules/consul/testdata/v1.13.2/client_v1-agent-self.json
  modules/consul/testdata/v1.13.2/server_v1-agent-metrics.txt
  modules/consul/testdata/v1.13.2/server_v1-agent-metrics_with_hostname.txt
  modules/consul/testdata/v1.13.2/server_v1-agent-self.json
  modules/consul/testdata/v1.13.2/server_v1-agent-self_disabled_prom.json
  modules/consul/testdata/v1.13.2/server_v1-agent-self_with_hostname.json
  modules/consul/testdata/v1.13.2/v1-agent-checks.json
  pkg/prometheus/client.go
Labels: area/modules, area/docs, area/pkg

#1031 Adding necessary metadata for new modules
  modules/nvme/README.md
  modules/ping/README.md
Labels: area/modules, area/docs

#1032 change consul raft saturation charts to quantiles
  modules/consul/README.md
  modules/consul/charts.go
Labels: area/modules, area/docs

#1033 feat(consul): add additional autopilot health metrics
  modules/consul/README.md
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_autopilot.go
  modules/consul/consul_test.go
  modules/consul/testdata/v1.13.2/server_v1-operator-autopilot-health.json
Labels: area/modules, area/docs

#1034 fix(consul): treat 429 code as success for autopilot health
  modules/consul/README.md
  modules/consul/collect.go
  modules/consul/collect_autopilot.go
Labels: area/modules, area/docs

#1035 feat(consul): collect server network lan rtt
  modules/consul/README.md
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_net_rtt.go
  modules/consul/consul_test.go
  modules/consul/testdata/v1.13.2/server_v1-coordinate-nodes.json
Labels: area/modules, area/docs

#1036 add ntpd collector
  README.md
  config/go.d.conf
  config/go.d/ntpd.conf
  modules/init.go
  modules/ntpd/README.md
  modules/ntpd/charts.go
  modules/ntpd/client.go
  modules/ntpd/collect.go
  modules/ntpd/ntpd.go
  modules/ntpd/ntpd_test.go
Labels: area/modules, area/docs, area/conf

#1037 fix(pihole): auth all admin API requests and cleanup
  config/go.d/pihole.conf
  modules/pihole/collect.go
  modules/pihole/pihole_test.go
  modules/pihole/testdata/summary.json
  modules/pihole/testdata/topClients.json
  modules/pihole/testdata/topItems.json
Labels: area/modules, area/conf

#1038 ntpd: disable collect peers by default and ignore localhost peers
  modules/ntpd/collect.go
  modules/ntpd/ntpd.go
Labels: area/modules

#1040 elasticsearch: a chart per index and cleanup
  modules/elasticsearch/README.md
  modules/elasticsearch/charts.go
  modules/elasticsearch/collect.go
  modules/elasticsearch/elasticsearch.go
  modules/elasticsearch/elasticsearch_test.go
  modules/elasticsearch/init.go
Labels: area/modules, area/docs

#1039 Fix replication_delta panel for postgres.
  modules/postgres/queries.go
Labels: area/modules

#1041 Mssql additional metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect_mssql.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#1042 mongodb: dim per instance => chart per instance
  config/go.d/mongodb.conf
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/client.go
  modules/mongodb/collect.go
  modules/mongodb/collect_dbstats.go
  modules/mongodb/collect_replsetgetstatus.go
  modules/mongodb/collect_replsetstatus.go
  modules/mongodb/collect_server_status.go
  modules/mongodb/collect_serverstatus.go
  modules/mongodb/collect_shard.go
  modules/mongodb/collect_sharding.go
  modules/mongodb/connector.go
  modules/mongodb/connector_mock_test.go
  modules/mongodb/dev.md
  modules/mongodb/documents.go
  modules/mongodb/init.go
  modules/mongodb/model.go
  modules/mongodb/mongodb.go
  modules/mongodb/mongodb_test.go
  modules/mongodb/testdata/v5.0.0/dbStats.go
  modules/mongodb/testdata/v5.0.0/replSetStatus.go
  modules/mongodb/testdata/v5.0.0/serverStatus.go
  modules/mongodb/testdata/v5.0.0/shard.go
  modules/mongodb/testdata/v6.0.3/dbStats.json
  modules/mongodb/testdata/v6.0.3/mongod-serverStatus.json
  modules/mongodb/testdata/v6.0.3/mongos-serverStatus.json
  modules/mongodb/testdata/v6.0.3/replSetGetStatus.json
Labels: area/modules, area/docs, area/conf

#1045 fix(postgres): handle negative WAL delta
  modules/postgres/do_query_replication.go
Labels: area/modules

#1046 fix(mongodb): fix operations_by_type name and clearer cursors_by_lifespan dim names
  modules/mongodb/README.md
  modules/mongodb/charts.go
  modules/mongodb/mongodb_test.go
  modules/mongodb/testdata/v6.0.3/mongod-serverStatus.json
Labels: area/modules, area/docs
