Repository netdata/go.d.plugin, pull requests merged in 2022-11, with the labels that each got.

#960 fix(postgres): fix query queryable databases
  modules/postgres/do_query_misc.go
Labels: area/modules

#961 feat(wmi): collect services
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_service.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#962 allow _ when resolving hostname in job names
  agent/job/confgroup/group.go
  agent/job/confgroup/group_test.go
Labels: area/agent

#964 fix(wmi): fix process cpu utilization chart
  modules/wmi/README.md
  modules/wmi/charts.go
Labels: area/modules, area/docs

#966 Simpler installation instructions
  modules/wmi/README.md
Labels: area/modules, area/docs

#967 refactor wmi
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_collection.go
  modules/wmi/collect_collector.go
  modules/wmi/collect_cpu.go
  modules/wmi/collect_logical_disk.go
  modules/wmi/collect_logon.go
  modules/wmi/collect_memory.go
  modules/wmi/collect_net.go
  modules/wmi/collect_os.go
  modules/wmi/collect_process.go
  modules/wmi/collect_service.go
  modules/wmi/collect_system.go
  modules/wmi/collect_tcp.go
  modules/wmi/collect_thermalzone.go
  modules/wmi/init.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.15.0/metrics.txt
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
  pkg/prometheus/prometheus.go
Labels: area/modules, area/pkg

#968 wmi various fixes
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_logical_disk.go
  modules/wmi/collect_memory.go
  modules/wmi/collect_net.go
  modules/wmi/collect_os.go
  modules/wmi/collect_process.go
  modules/wmi/collect_system.go
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules

#969 More elaborate instructions for the options
  modules/wmi/README.md
Labels: area/modules, area/docs

#971 Change call for proper function
  modules/wmi/collect_process.go
Labels: area/modules

#974 fix(whoisquery): handle ExpirationDate with space
  modules/whoisquery/provider.go
Labels: area/modules

#973 feat: add collector to track NVMe statistics
  README.md
  config/go.d.conf
  config/go.d/nvme.conf
  modules/init.go
  modules/nvme/README.md
  modules/nvme/charts.go
  modules/nvme/collect.go
  modules/nvme/exec.go
  modules/nvme/init.go
  modules/nvme/nvme.go
  modules/nvme/nvme_test.go
  modules/nvme/testdata/nvme-list-empty.json
  modules/nvme/testdata/nvme-list.json
  modules/nvme/testdata/nvme-smart-log.json
Labels: area/modules, area/docs, area/conf

#976 Point to the instructions of the MSI installer
  modules/wmi/README.md
Labels: area/modules, area/docs

#972 IIS Metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_iis.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#978 fix(postgres): protect schema/table names with quote_ident
  modules/postgres/queries.go
Labels: area/modules

#979 fix(postgres): add missing schemaname to indexrelname when using pg_relation_size
  modules/postgres/queries.go
Labels: area/modules

#977 weblog IIS
  config/go.d/web_log.conf
  modules/weblog/README.md
  modules/weblog/logline.go
  modules/weblog/testdata/u_ex221107.log
  modules/weblog/weblog_test.go
Labels: area/modules, area/docs, area/conf

#981 fix(wmi): add missing service degraded status
  modules/wmi/README.md
  modules/wmi/charts.go
Labels: area/modules, area/docs

#982 Add prometheus pull from demo site example.
  modules/prometheus/README.md
Labels: area/modules, area/docs

#984 Finalize instructions for both installer and prod
  modules/wmi/README.md
Labels: area/modules, area/docs

#993 fix(nvme): handle string and float values
  modules/nvme/collect.go
  modules/nvme/exec.go
  modules/nvme/nvme_test.go
  modules/nvme/testdata/nvme-smart-log-float.json
  modules/nvme/testdata/nvme-smart-log-string.json
Labels: area/modules

#992 feat: add NGINX Plus collector
  README.md
  config/go.d/nginxplus.conf
  modules/init.go
  modules/nginxplus/README.md
  modules/nginxplus/cache.go
  modules/nginxplus/charts.go
  modules/nginxplus/collect.go
  modules/nginxplus/nginx_http_api.go
  modules/nginxplus/nginx_http_api_query.go
  modules/nginxplus/nginxplus.go
  modules/nginxplus/nginxplus_test.go
  modules/nginxplus/testdata/404.json
  modules/nginxplus/testdata/api-8/api_versions.json
  modules/nginxplus/testdata/api-8/connections.json
  modules/nginxplus/testdata/api-8/endpoints_http.json
  modules/nginxplus/testdata/api-8/endpoints_root.json
  modules/nginxplus/testdata/api-8/endpoints_stream.json
  modules/nginxplus/testdata/api-8/http_caches.json
  modules/nginxplus/testdata/api-8/http_location_zones.json
  modules/nginxplus/testdata/api-8/http_requests.json
  modules/nginxplus/testdata/api-8/http_server_zones.json
  modules/nginxplus/testdata/api-8/http_upstreams.json
  modules/nginxplus/testdata/api-8/nginx.json
  modules/nginxplus/testdata/api-8/ssl.json
  modules/nginxplus/testdata/api-8/stream_server_zones.json
  modules/nginxplus/testdata/api-8/stream_upstreams.json
Labels: area/modules, area/docs, area/conf

#991 MSSQL metrics (step 1)
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_mssql.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#995 rearrange nginxplus chart families
  modules/nginxplus/charts.go
Labels: area/modules

#996 feat(nginxplus): add resolver metrics
  modules/nginxplus/README.md
  modules/nginxplus/cache.go
  modules/nginxplus/charts.go
  modules/nginxplus/collect.go
  modules/nginxplus/nginx_http_api.go
  modules/nginxplus/nginx_http_api_query.go
  modules/nginxplus/nginxplus.go
  modules/nginxplus/nginxplus_test.go
  modules/nginxplus/testdata/api-8/resolvers.json
Labels: area/modules, area/docs

#997 feat(nginxplus): http cache io/iops metrics
  modules/nginxplus/README.md
  modules/nginxplus/charts.go
  modules/nginxplus/collect.go
  modules/nginxplus/nginxplus_test.go
Labels: area/modules, area/docs

#998 fix(logstatsh): remove pipeline instance from family and add labels
  modules/logstash/README.md
  modules/logstash/charts.go
  modules/logstash/client.go
  modules/logstash/collect.go
  modules/logstash/logstash.go
  modules/logstash/logstash_test.go
  modules/logstash/node_stats.go
Labels: area/modules, area/docs

#999 feat(httpcheck): add 'url' label to charts
  modules/httpcheck/charts.go
  modules/httpcheck/httpcheck.go
  modules/httpcheck/httpcheck_test.go
  modules/httpcheck/init.go
Labels: area/modules

#1000 feat(portcheck): add 'host' label to charts
  modules/portcheck/charts.go
  modules/portcheck/init.go
Labels: area/modules

#1001 feat(x509check): add 'source' label to charts
  modules/x509check/charts.go
  modules/x509check/collect.go
  modules/x509check/init.go
  modules/x509check/x509check.go
  modules/x509check/x509check_test.go
Labels: area/modules

#1002 feat(whoisquery): add 'domain' label to charts
  modules/whoisquery/charts.go
  modules/whoisquery/collect.go
  modules/whoisquery/init.go
  modules/whoisquery/whoisquery.go
  modules/whoisquery/whoisquery_test.go
Labels: area/modules

#1004 add new prom parser and update prometheus collector
  go.mod
  go.sum
  modules/cassandra/collect.go
  modules/cockroachdb/collect.go
  modules/coredns/collect.go
  modules/docker_engine/collect.go
  modules/geth/collect.go
  modules/haproxy/collect.go
  modules/k8s_kubelet/collect.go
  modules/k8s_kubeproxy/collect.go
  modules/prometheus/cache.go
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/collect_gauge_counter.go
  modules/prometheus/collect_histogram.go
  modules/prometheus/collect_summary.go
  modules/prometheus/collect_unknown.go
  modules/prometheus/group.go
  modules/prometheus/init.go
  modules/prometheus/prometheus.go
  modules/prometheus/prometheus_test.go
  modules/pulsar/charts.go
  modules/pulsar/collect.go
  modules/springboot2/springboot2.go
  modules/traefik/collect.go
  modules/vernemq/collect.go
  modules/wmi/collect.go
  modules/wmi/collect_collector.go
  modules/wmi/collect_cpu.go
  modules/wmi/collect_iis.go
  modules/wmi/collect_logical_disk.go
  modules/wmi/collect_logon.go
  modules/wmi/collect_memory.go
  modules/wmi/collect_mssql.go
  modules/wmi/collect_net.go
  modules/wmi/collect_os.go
  modules/wmi/collect_process.go
  modules/wmi/collect_service.go
  modules/wmi/collect_system.go
  modules/wmi/collect_tcp.go
  modules/wmi/collect_thermalzone.go
  pkg/prometheus/client.go
  pkg/prometheus/client_test.go
  pkg/prometheus/metric_family.go
  pkg/prometheus/metric_family_test.go
  pkg/prometheus/metric_series.go
  pkg/prometheus/metric_series_test.go
  pkg/prometheus/metrics.go
  pkg/prometheus/parse.go
  pkg/prometheus/parse_test.go
  pkg/prometheus/testdata/counter-meta.txt
  pkg/prometheus/testdata/counter-no-meta.txt
  pkg/prometheus/testdata/gauge-meta.txt
  pkg/prometheus/testdata/gauge-no-meta.txt
  pkg/prometheus/testdata/histogram-meta.txt
  pkg/prometheus/testdata/histogram-no-meta.txt
  pkg/prometheus/testdata/summary-meta.txt
  pkg/prometheus/testdata/summary-no-meta.txt
  pkg/prometheus/testdata/testdata.nometa.txt
  pkg/prometheus/testdata/testdata.txt
Labels: area/modules

#1005 update gotestftm action
  .github/workflows/test.yml
Labels: area/CI

#1003 AD metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_ad.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#1006 fix(postgres): fix permission denied for schema
  modules/postgres/queries.go
Labels: area/modules

#1008 prometheus: add tests and imrpovements
  modules/prometheus/README.md
  modules/prometheus/cache.go
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/init.go
  modules/prometheus/prometheus.go
  modules/prometheus/prometheus_test.go
  pkg/prometheus/metric_family.go
Labels: area/modules, area/docs, area/pkg
