Repository netdata/go.d.plugin, pull requests merged in 2022-07, with the labels that each got.

#702 feat(nginx): add common stub_status locations
  config/go.d/nginx.conf
Labels: area/modules, area/conf

#706 add "Bug reports, feature requests, and questions" section to the readme
  README.md
Labels: area/docs

#708 update packages version
  go.mod
  go.sum
  modules/prometheus/cache.go
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/group.go
  modules/prometheus/init.go
  modules/vsphere/scrape/scrape_test.go
  modules/wmi/collect.go
  modules/x509check/provider.go
  pkg/prometheus/metrics.go
  pkg/prometheus/metrics_test.go
  pkg/prometheus/prometheus.go
  pkg/prometheus/prometheus_test.go
  pkg/prometheus/selector/expr_test.go
  pkg/prometheus/selector/logical.go
  pkg/prometheus/selector/logical_test.go
  pkg/prometheus/selector/parse_test.go
  pkg/prometheus/selector/selector.go
Labels: area/modules, area/pkg

#711 weblog: Correctly parse multiple values in nginx upstream_response_time
  modules/weblog/logline.go
  modules/weblog/logline_test.go
Labels: area/modules

#713 enable openvpn_status_log by default
  README.md
  config/go.d.conf
  modules/openvpn_status_log/openvpn.go
  modules/openvpn_status_log/openvpn_test.go
Labels: area/modules, area/docs, area/conf

#712 simplify chrony and add some tests
  README.md
  config/go.d.conf
  config/go.d/chrony.conf
  modules/chrony/README.md
  modules/chrony/charts.go
  modules/chrony/chrony.go
  modules/chrony/chrony_cmd.go
  modules/chrony/chrony_test.go
  modules/chrony/client/client.go
  modules/chrony/client/protocol.go
  modules/chrony/collect.go
  modules/chrony/init.go
  modules/chrony/types.go
Labels: area/modules, area/docs, area/conf

#714 chrony: switch to github.com/facebook/time
  go.mod
  go.sum
  modules/chrony/charts.go
  modules/chrony/chrony.go
  modules/chrony/chrony_test.go
  modules/chrony/client.go
  modules/chrony/client/client.go
  modules/chrony/client/protocol.go
  modules/chrony/collect.go
  modules/chrony/init.go
Labels: area/modules

#716 vernemq charts fixes requested in netdata#12592
  modules/vernemq/README.md
  modules/vernemq/charts.go
Labels: area/modules, area/docs

#717 k8s_state: handle slow setting spec.NodeName for pods
  modules/k8s_state/charts.go
  modules/k8s_state/collect.go
  modules/k8s_state/kube_state_test.go
  modules/k8s_state/state.go
  modules/k8s_state/update_pod_state.go
Labels: area/modules

#718 add postgres collector
  config/go.d/postgres.conf
  go.mod
  go.sum
  modules/init.go
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_database_stats.go
  modules/postgres/collect_databases_list.go
  modules/postgres/init.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/databases_list-1db.txt
  modules/postgres/testdata/v14.4/databases_list-2db.txt
  modules/postgres/testdata/v14.4/databases_list-3db.txt
  modules/postgres/testdata/v14.4/databases_stats.txt
  modules/postgres/testdata/v14.4/is_super_user-false.txt
  modules/postgres/testdata/v14.4/is_super_user-true.txt
  modules/postgres/testdata/v14.4/server_version_num.txt
Labels: area/modules, area/docs, area/conf

#719 feat(postgres): collect pg_stat_database_conflicts
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_database_stats.go
  modules/postgres/collect_databases.go
  modules/postgres/collect_databases_list.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/databases_conflicts.txt
Labels: area/modules, area/docs

#720 feat(postgres): collect pg_stat_bgwriter
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_checkpoints.go
  modules/postgres/collect_databases.go
  modules/postgres/collect_databases_list.go
  modules/postgres/init.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/checkpoints.txt
Labels: area/modules, area/docs

#721 feat(postgres): collect the num of locks per database from pg_locks
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_checkpoints.go
  modules/postgres/collect_databases.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/database_conflicts.txt
  modules/postgres/testdata/v14.4/database_list-1db.txt
  modules/postgres/testdata/v14.4/database_list-2db.txt
  modules/postgres/testdata/v14.4/database_list-3db.txt
  modules/postgres/testdata/v14.4/database_locks.txt
  modules/postgres/testdata/v14.4/database_stats.txt
Labels: area/modules, area/docs

#722 feat(postgres): collect server connections usage
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_connections.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/server_current_connections.txt
  modules/postgres/testdata/v14.4/settings_max_connections.txt
Labels: area/modules, area/docs

#723 feat(postgres): collect connections % per database
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_checkpoints.go
  modules/postgres/collect_connections.go
  modules/postgres/collect_databases.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/database_stats.txt
Labels: area/modules, area/docs

#726 feat(postgres): collect server uptime
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/uptime.txt
Labels: area/modules, area/docs

#727 feat(postgres): collect txid wraparound and emergency autovacuum
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/txid_wraparound.txt
Labels: area/modules, area/docs

#729 feat(postgres): collect catalog relations
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/catalog_relations.txt
  modules/postgres/testdata/v14.4/txid_wraparound.txt
Labels: area/modules, area/docs

#730 feat(postgres): collect WAL files and WAL Archive files
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/wal_archive_files.txt
  modules/postgres/testdata/v14.4/wal_files.txt
Labels: area/modules, area/docs

#731 feat(postgres): collect autovacuum workers
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/autovacuum_workers.txt
Labels: area/modules, area/docs
