Repository netdata/go.d.plugin, pull requests merged in 2022-03, with the labels that each got.

#652 fix snmp tests
  modules/snmp/snmp_test.go
Labels: area/modules

#653 fix segfault issue while closing connection
  modules/snmp/collect.go
  modules/snmp/snmp.go
  modules/snmp/snmp_test.go
Labels: area/modules

#655 refactor init function
  modules/snmp/snmp.go
  modules/snmp/snmp_test.go
Labels: area/modules

#656 remove 'omitempty' tags from SNMP objects
  modules/snmp/snmp.go
Labels: area/modules

#654 Implement charts multiplier for SNMP collector
  config/go.d/snmp.conf
  modules/snmp/charts.go
  modules/snmp/snmp.go
  modules/snmp/snmp_test.go
  modules/snmp/validators.go
Labels: area/modules, area/conf

#658 refactor Init() to move helper functions to init.go
  modules/snmp/collect.go
  modules/snmp/config_validator.go
  modules/snmp/init.go
  modules/snmp/snmp.go
  modules/snmp/snmp_test.go
Labels: area/modules

#661 SNMP: check for non-existent OIDs during collect()
  modules/snmp/collect.go
  modules/snmp/init.go
Labels: area/modules

#662 SNMP: this commit fixes auth/priv flags mismatch
  config/go.d/snmp.conf
  modules/snmp/config_validator.go
  modules/snmp/init.go
Labels: area/modules, area/conf

#660 readme file for snmp collector
  modules/snmp/README.md
Labels: area/modules, area/docs

#665 fix(prometheus): skip invalid metric type entries when parsing
  pkg/prometheus/prometheus.go
Labels: area/pkg

#667 feat(wmi): collect thermalzone metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_thermalzone.go
  modules/wmi/metrics.go
  modules/wmi/testdata/v0.16.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#664 fix(snmp): assorted cleanup and fixes
  config/go.d/snmp.conf
  modules/snmp/README.md
  modules/snmp/charts.go
  modules/snmp/collect.go
  modules/snmp/config_validator.go
  modules/snmp/init.go
  modules/snmp/snmp.go
  modules/snmp/snmp_test.go
Labels: area/modules, area/docs, area/conf

#657 Docsfix: Added SNMP collector to the README
  README.md
Labels: area/docs

#670 skip reading stock configuration files in k8s
  agent/setup.go
Labels: area/agent

#669 feat(prometheus): add a config option to set application
  modules/prometheus/charts.go
  modules/prometheus/collect.go
  modules/prometheus/collect_gauge_counter.go
  modules/prometheus/collect_histogram.go
  modules/prometheus/collect_summary.go
  modules/prometheus/prometheus.go
Labels: area/modules
