Repository netdata/go.d.plugin, pull requests merged in 2022-08, with the labels that each got.

#739 feat(postgres): collect replication stats per standby
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/init.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/replication_standby_app_list.txt
  modules/postgres/testdata/v14.4/replication_standby_app_wal_delta.txt
  modules/postgres/testdata/v14.4/replication_standby_app_wal_lag.txt
Labels: area/modules, area/docs

#740 feat(postgres): collect replication slot files
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/replication_slot_files.txt
  modules/postgres/testdata/v14.4/replication_slot_list.txt
Labels: area/modules, area/docs

#741 feat(postgres): do some queries only if super user
  modules/postgres/collect.go
  modules/postgres/collect_checkpoints.go
  modules/postgres/collect_connections.go
  modules/postgres/collect_databases.go
  modules/postgres/collect_global.go
  modules/postgres/collect_replication.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
Labels: area/modules

#743 chore(postgres): enable by default and update readmes
  README.md
  config/go.d.conf
  config/go.d/postgres.conf
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/postgres.go
Labels: area/modules, area/docs, area/conf

#744 feat: add wireguard collector
  README.md
  config/go.d.conf
  config/go.d/wireguard.conf
  go.mod
  go.sum
  modules/init.go
  modules/wireguard/README.md
  modules/wireguard/charts.go
  modules/wireguard/collect.go
  modules/wireguard/wireguard.go
  modules/wireguard/wireguard_test.go
Labels: area/modules, area/docs, area/conf

#749 ci: bump go v1.18
  .github/workflows/test.yml
Labels: area/CI

#748 feat: add PgBouncer collector
  README.md
  config/go.d.conf
  config/go.d/pgbouncer.conf
  modules/init.go
  modules/pgbouncer/README.md
  modules/pgbouncer/charts.go
  modules/pgbouncer/collect.go
  modules/pgbouncer/init.go
  modules/pgbouncer/metrics.go
  modules/pgbouncer/pgbouncer.go
  modules/pgbouncer/pgbouncer_test.go
  modules/pgbouncer/testdata/v1.17.0/config.txt
  modules/pgbouncer/testdata/v1.17.0/databases.txt
  modules/pgbouncer/testdata/v1.17.0/pools.txt
  modules/pgbouncer/testdata/v1.17.0/stats.txt
  modules/pgbouncer/testdata/v1.17.0/version.txt
  modules/pgbouncer/testdata/v1.7.0/version.txt
Labels: area/modules, area/docs, area/conf

#751 fix(pgbouncer): fix setting db name in collectDatabases()
  modules/pgbouncer/charts.go
  modules/pgbouncer/collect.go
  modules/pgbouncer/metrics.go
Labels: area/modules

#754 bump go v1.19
  .github/workflows/test.yml
  go.mod
  modules/vcsa/collect.go
  pkg/matcher/doc.go
  pkg/prometheus/prometheus_test.go
Labels: area/modules, area/CI, area/pkg

#755 fix a typo
  modules/pgbouncer/pgbouncer_test.go
  modules/postgres/postgres_test.go
Labels: area/modules

#756 fix(pgbouncer): version logging
  modules/pgbouncer/charts.go
  modules/pgbouncer/collect.go
Labels: area/modules

#758 fix(agent): always call modules cleanup on exit
  agent/agent.go
  agent/module/job.go
Labels: area/agent

#762 add a timeout for stopping all goroutines on exit
  agent/agent.go
Labels: area/agent

#760 feat: add Docker Engine collector
  README.md
  config/go.d.conf
  config/go.d/docker.conf
  go.mod
  go.sum
  modules/docker/README.md
  modules/docker/charts.go
  modules/docker/collect.go
  modules/docker/docker.go
  modules/docker/docker_test.go
  modules/init.go
Labels: area/modules, area/docs

#763 feat(mysql): Only produce binlog and MyISAM charts if they're enabled
  modules/mysql/charts.go
  modules/mysql/collect.go
  modules/mysql/collect_global_vars.go
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
Labels: area/modules

#766 refactor: mysql
  modules/mysql/collect.go
  modules/mysql/collect_global_status.go
  modules/mysql/collect_global_vars.go
  modules/mysql/collect_queries_statistics.go
  modules/mysql/collect_slave_status.go
  modules/mysql/collect_user_statistics.go
  modules/mysql/collect_version.go
  modules/mysql/mysql_test.go
Labels: area/modules

#767 chore: don't collect global vars on every iteration
  modules/mysql/collect.go
  modules/mysql/collect_global_vars.go
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
Labels: area/modules

#770 Fix a typo
  modules/postgres/charts.go
Labels: area/modules

#769 chore(mysql): improve tests
  modules/mysql/charts.go
  modules/mysql/collect.go
  modules/mysql/collect_global_status.go
  modules/mysql/collect_global_vars.go
  modules/mysql/collect_process_list.go
  modules/mysql/collect_slave_status.go
  modules/mysql/collect_user_statistics.go
  modules/mysql/collect_version.go
  modules/mysql/dev.md
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
  modules/mysql/testdata/mariadb/v10.5.4/all_slaves_status.txt
  modules/mysql/testdata/mariadb/v10.5.4/global_status.txt
  modules/mysql/testdata/mariadb/v10.5.4/global_variables.txt
  modules/mysql/testdata/mariadb/v10.5.4/process_list.txt
  modules/mysql/testdata/mariadb/v10.5.4/user_statistics.txt
  modules/mysql/testdata/mariadb/v10.5.4/version.txt
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/global_status.txt
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/global_variables.txt
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/process_list.txt
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/user_statistics.txt
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/version.txt
  modules/mysql/testdata/mariadb/v10.8.4/all_slaves_status_multi_source.txt
  modules/mysql/testdata/mariadb/v10.8.4/all_slaves_status_single_source.txt
  modules/mysql/testdata/mariadb/v10.8.4/global_status.txt
  modules/mysql/testdata/mariadb/v10.8.4/global_variables.txt
  modules/mysql/testdata/mariadb/v10.8.4/process_list.txt
  modules/mysql/testdata/mariadb/v10.8.4/user_statistics.txt
  modules/mysql/testdata/mariadb/v10.8.4/version.txt
  modules/mysql/testdata/mariadb/v5.5.46/global_status.txt
  modules/mysql/testdata/mariadb/v5.5.46/global_variables.txt
  modules/mysql/testdata/mariadb/v5.5.46/process_list.txt
  modules/mysql/testdata/mariadb/v5.5.46/slave_status.txt
  modules/mysql/testdata/mariadb/v5.5.46/version.txt
  modules/mysql/testdata/mariadb/v5.5.64/global_status.txt
  modules/mysql/testdata/mariadb/v5.5.64/global_variables.txt
  modules/mysql/testdata/mariadb/v5.5.64/process_list.txt
  modules/mysql/testdata/mariadb/v5.5.64/version.txt
  modules/mysql/testdata/mysql/v8.0.21/global_status.txt
  modules/mysql/testdata/mysql/v8.0.21/global_variables.txt
  modules/mysql/testdata/mysql/v8.0.21/process_list.txt
  modules/mysql/testdata/mysql/v8.0.21/slave_status.txt
  modules/mysql/testdata/mysql/v8.0.21/version.txt
  modules/mysql/testdata/mysql/v8.0.30/global_status.txt
  modules/mysql/testdata/mysql/v8.0.30/global_variables.txt
  modules/mysql/testdata/mysql/v8.0.30/process_list.txt
  modules/mysql/testdata/mysql/v8.0.30/slave_status_multi_source.txt
  modules/mysql/testdata/mysql/v8.0.30/version.txt
Labels: area/modules, area/docs

#775 feat(mysql): add new userstats charts
  modules/mysql/README.md
  modules/mysql/charts.go
  modules/mysql/collect_user_statistics.go
  modules/mysql/mysql_test.go
Labels: area/modules, area/docs

#776 feat(mysql): add Percona MySQL compatibility
  modules/mysql/charts.go
  modules/mysql/collect.go
  modules/mysql/collect_user_statistics.go
  modules/mysql/collect_version.go
  modules/mysql/dev.md
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/version.txt
  modules/mysql/testdata/mariadb/v10.8.4/version.txt
  modules/mysql/testdata/mariadb/v5.5.64/version.txt
  modules/mysql/testdata/mysql/v8.0.30/version.txt
  modules/mysql/testdata/percona/v8.0.29/global_status.txt
  modules/mysql/testdata/percona/v8.0.29/global_variables.txt
  modules/mysql/testdata/percona/v8.0.29/process_list.txt
  modules/mysql/testdata/percona/v8.0.29/user_statistics.txt
  modules/mysql/testdata/percona/v8.0.29/version.txt
Labels: area/modules, area/docs

#777 feat(docker): collect images and volumes stats
  modules/docker/README.md
  modules/docker/charts.go
  modules/docker/collect.go
  modules/docker/docker.go
  modules/docker/docker_test.go
Labels: area/modules, area/docs

#778 feat(dnsmasq_dhcp): discover dhcp-ranges at runtime
  modules/dnsmasq_dhcp/README.md
  modules/dnsmasq_dhcp/autodetection.go
  modules/dnsmasq_dhcp/charts.go
  modules/dnsmasq_dhcp/collect.go
  modules/dnsmasq_dhcp/dhcp.go
  modules/dnsmasq_dhcp/dhcp_test.go
  modules/dnsmasq_dhcp/init.go
  modules/dnsmasq_dhcp/parse_configuration.go
Labels: area/modules, area/docs

#779 fix(mysql): add a dimensions per Galera cluster state/status
  modules/mysql/charts.go
  modules/mysql/collect_global_status.go
  modules/mysql/mysql_test.go
Labels: area/modules

#780 docker: remove data usage call
  modules/docker/README.md
  modules/docker/charts.go
  modules/docker/collect.go
  modules/docker/docker.go
  modules/docker/docker_test.go
Labels: area/modules, area/docs

#786 feat: add logind collector
  config/go.d.conf
  config/go.d/logind.conf
  modules/init.go
  modules/logind/README.md
  modules/logind/charts.go
  modules/logind/collect.go
  modules/logind/connection.go
  modules/logind/doc.go
  modules/logind/logind.go
  modules/logind/logind_test.go
Labels: area/modules, area/docs, area/conf

#787 chore(httpcheck): small style fixes
  modules/httpcheck/charts.go
  modules/httpcheck/collect.go
  modules/httpcheck/httpcheck.go
  modules/httpcheck/httpcheck_test.go
  modules/httpcheck/init.go
Labels: area/modules

#788 fix(httpcheck): remove spaces in response_status chart dimensions
  modules/httpcheck/charts.go
Labels: area/modules

#789 chore(portcheck): some style fixes
  modules/portcheck/charts.go
  modules/portcheck/collect.go
  modules/portcheck/init.go
  modules/portcheck/portcheck.go
  modules/portcheck/portcheck_test.go
Labels: area/modules

#790 fix(portcheck): remove instance specific data from chart families
  modules/portcheck/charts.go
Labels: area/modules

#791 feat(example): add labels to charts
  config/go.d/example.conf
  modules/example/charts.go
  modules/example/example.go
  modules/example/init.go
Labels: area/modules, area/conf
