Repository netdata/go.d.plugin, pull requests merged in 2022-09, with the labels that each got.

#794 refactor postgres
  modules/postgres/collect.go
  modules/postgres/collect_databases.go
  modules/postgres/collect_global.go
  modules/postgres/collect_replication.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/query_databases.go
  modules/postgres/query_global.go
  modules/postgres/query_replication.go
  modules/postgres/testdata/v14.4/database_list-1db.txt
  modules/postgres/testdata/v14.4/database_list-2db.txt
  modules/postgres/testdata/v14.4/database_list-3db.txt
  modules/postgres/testdata/v14.4/replication_slot_list.txt
  modules/postgres/testdata/v14.4/replication_standby_app_list.txt
Labels: area/modules

#795 systemdunits: dimension per unit state
  modules/systemdunits/README.md
  modules/systemdunits/charts.go
  modules/systemdunits/collect.go
  modules/systemdunits/init.go
  modules/systemdunits/systemdunits.go
  modules/systemdunits/systemdunits_test.go
Labels: area/modules, area/docs

#796 feat(example): add contexts number
  modules/example/charts.go
  modules/example/example.go
  modules/example/init.go
Labels: area/modules

#798 feat(postgres): collect user tables metrics
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query.go
  modules/postgres/do_query_databases.go
  modules/postgres/do_query_global.go
  modules/postgres/do_query_misc.go
  modules/postgres/do_query_replication.go
  modules/postgres/do_query_tables.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/db_postgres_stat_user_tables.txt
  modules/postgres/testdata/v14.4/queryable_database_list.txt
Labels: area/modules, area/docs

#799 fix(postgres): fix reseting table metrics and unregistering conn string
  modules/postgres/collect.go
  modules/postgres/do_query_tables.go
  modules/postgres/postgres.go
Labels: area/modules

#801 feat(postgres): add db fetched perc
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/metrics.go
Labels: area/modules, area/docs

#802 feat(postgres): table hot updates percentage
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
Labels: area/modules, area/docs

#803 fix(postgres): fix table charts prefix
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_tables.go
  modules/postgres/postgres_test.go
Labels: area/modules

#804 feat(postgres): add queries running time histogram
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_global.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/queries_running_time.txt
  pkg/metrics/histogram.go
Labels: area/modules, area/docs, area/pkg

#805 [phpfpm] Added ability to directly connect to a TCP address:port and modify status path
  config/go.d/phpfpm.conf
  modules/phpfpm/README.md
  modules/phpfpm/client.go
  modules/phpfpm/init.go
  modules/phpfpm/phpfpm.go
Labels: area/modules, area/docs, area/conf

#809 fix(postgres): blocks=>bytes for db io
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/do_query_databases.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/database_stats.txt
Labels: area/modules, area/docs

#810 fix(postgres): add transactions time histogram
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_global.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/queries_running_time.txt
  modules/postgres/testdata/v14.4/xact_query_running_time.txt
Labels: area/modules, area/docs

#811 fix(postgres): fix connections state
  modules/postgres/do_query_global.go
  modules/postgres/postgres_test.go
  modules/postgres/testdata/v14.4/server_connections_state.txt
Labels: area/modules

#812 fix(postgres): fix xact and query time
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_global.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/xact_query_running_time.txt
Labels: area/modules

#813 fix(postgres): adjust ratio metrics
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_databases.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
Labels: area/modules, area/docs

#817 update postgres charts ctx
  modules/postgres/README.md
  modules/postgres/charts.go
Labels: area/modules, area/docs

#819 feat(postgres): add 'collect_databases_matching' option
  config/go.d/postgres.conf
  modules/postgres/README.md
  modules/postgres/collect.go
  modules/postgres/do_query_misc.go
  modules/postgres/init.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/current_database.txt
Labels: area/modules, area/docs, area/conf

#820 feat(postgres): add collecting table bloat size
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_tables.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/bloat_tables.txt
Labels: area/modules, area/docs

#821 feat(postgres): add index bloat size
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_bloat.go
  modules/postgres/do_query_indexes.go
  modules/postgres/do_query_tables.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/bloat_tables.txt
  modules/postgres/testdata/v14.4/stat_user_indexes_db_postgres.txt
Labels: area/modules, area/docs

#822 feat(postgres): collect table null columns
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_columns.go
  modules/postgres/metrics.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/table_columns_stats.txt
Labels: area/modules, area/docs

#823 feat(postgres): collect index usage status
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/do_query_indexes.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/stat_user_indexes_db_postgres.txt
Labels: area/modules, area/docs

#824 feat(postgres): "improve" submenu
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/postgres_test.go
Labels: area/modules, area/docs

#825 feat(postgres): collect db conflicts only when Postgres in recovery
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_databases.go
  modules/postgres/do_query_misc.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/pg_is_in_recovery-true.txt
Labels: area/modules

#826 chore(postgres): remove unused query
  modules/postgres/collect.go
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_misc.go
  modules/postgres/postgres.go
  modules/postgres/postgres_test.go
  modules/postgres/testdata/v14.4/current_database.txt
Labels: area/modules

#703 add proxysql service monitoring plugin
  README.md
  config/go.d/proxysql.conf
  modules/init.go
  modules/proxysql/README.md
  modules/proxysql/charts.go
  modules/proxysql/collect.go
  modules/proxysql/collect_global_vars.go
  modules/proxysql/collect_memory_metrics.go
  modules/proxysql/collect_mysql_command_counters.go
  modules/proxysql/collect_mysql_global_status.go
  modules/proxysql/collect_mysql_users.go
  modules/proxysql/mycnf.go
  modules/proxysql/proxysql.go
  modules/proxysql/proxysql_test.go
  modules/proxysql/testdata/v2.0.10/global_variables.txt
  modules/proxysql/testdata/v2.0.10/stats_memory_metrics.txt
  modules/proxysql/testdata/v2.0.10/stats_mysql_commands_counters.txt
  modules/proxysql/testdata/v2.0.10/stats_mysql_global.txt
  modules/proxysql/testdata/v2.0.10/stats_mysql_users.txt
  modules/proxysql/testdata/v2.0.10/version.txt
Labels: area/modules, area/docs, area/conf

#828 make k8s_* collectors chart priority higher than cgroups
  modules/k8s_kubelet/kubelet.go
  modules/k8s_kubeproxy/kubeproxy.go
  modules/k8s_state/charts.go
Labels: area/modules

#829 build: add darwin/arm64
  hack/go-build.sh
Labels: area/build

#830 fix(proxysql): fixes and simplification part
  modules/proxysql/README.md
  modules/proxysql/cache.go
  modules/proxysql/charts.go
  modules/proxysql/collect.go
  modules/proxysql/collect_global_vars.go
  modules/proxysql/collect_memory_metrics.go
  modules/proxysql/collect_mysql_command_counters.go
  modules/proxysql/collect_mysql_global_status.go
  modules/proxysql/collect_mysql_users.go
  modules/proxysql/mycnf.go
  modules/proxysql/proxysql.go
  modules/proxysql/proxysql_test.go
  modules/proxysql/testdata/v2.0.10/global_variables.txt
  modules/proxysql/testdata/v2.0.10/stats_mysql_connection_pool .txt
  modules/proxysql/testdata/v2.0.10/version.txt
Labels: area/modules, area/docs

#831 feat(postgres): track acquired locks utilization
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_global.go
  modules/postgres/do_query_misc.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/checkpoints.txt
  modules/postgres/testdata/v14.4/database_locks.txt
  modules/postgres/testdata/v14.4/settings_max_locks_held.txt
Labels: area/modules, area/docs

#832 chore(logind): simplify
  go.mod
  go.sum
  modules/logind/connection.go
  modules/logind/logind_test.go
Labels: area/modules

#837 ci: add golangci-lint
  .github/workflows/test.yml
Labels: area/CI

#838 chore: address golangci-lint issues
  modules/k8s_state/collect.go
  modules/k8s_state/state.go
  modules/unbound/charts.go
Labels: area/modules

#839 fix(postgres): delay unregistering connString
  modules/postgres/collect.go
  modules/postgres/do_query_misc.go
  modules/postgres/postgres.go
Labels: area/modules

#840 feat: allow to define labels in config
  agent/job/build/build.go
  agent/job/confgroup/group.go
  agent/module/job.go
Labels: area/agent

#841 fix(postgres): fix bloat size perc calc
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_bloat.go
  modules/postgres/metrics.go
Labels: area/modules

#842 fix: use correct label src value for user configured labels
  agent/module/charts.go
  agent/module/job.go
Labels: area/agent

#845 fix(postgres): query db size if has 'connect' privilege
  modules/postgres/charts.go
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_databases.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
  modules/postgres/queries.go
  modules/postgres/testdata/v14.4/database_size.txt
  modules/postgres/testdata/v14.4/database_stats.txt
Labels: area/modules

#844 feat: add nvidia_smi collector
  config/go.d.conf
  modules/init.go
  modules/nvidia_smi/README.md
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect.go
  modules/nvidia_smi/exec.go
  modules/nvidia_smi/init.go
  modules/nvidia_smi/nvidia_smi.go
  modules/nvidia_smi/nvidia_smi_test.go
  modules/nvidia_smi/testdata/rtx-2080-win.xml
  modules/nvidia_smi/testdata/rtx-3060.xml
  modules/nvidia_smi/testdata/tesla-p100.xml
Labels: area/modules, area/docs, area/conf

#846 fix(postgres): don't create bloat charts if not metrics
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/collect.go
  modules/postgres/collect_metrics.go
  modules/postgres/do_query_bloat.go
  modules/postgres/do_query_columns.go
  modules/postgres/do_query_databases.go
  modules/postgres/metrics.go
  modules/postgres/postgres_test.go
Labels: area/modules, area/docs

#847 Adding a link to the monitoring guide
  modules/postgres/README.md
Labels: area/modules, area/docs

#849 feat(redis): add ping latency chart
  modules/redis/README.md
  modules/redis/charts.go
  modules/redis/collect.go
  modules/redis/init.go
  modules/redis/redis.go
  modules/redis/redis_test.go
Labels: area/modules, area/docs

#850 feat(redis): collect time elapsed since last RDB save
  modules/redis/README.md
  modules/redis/charts.go
  modules/redis/collect.go
  modules/redis/collect_info.go
  modules/redis/collect_ping_latency.go
  modules/redis/redis_test.go
Labels: area/modules, area/docs

#851 feat(redis): collect master slave link metrics
  modules/redis/README.md
  modules/redis/charts.go
  modules/redis/collect_info.go
  modules/redis/redis.go
Labels: area/modules, area/docs

#852 Clarify windows_exporter installation instructions
  modules/wmi/README.md
Labels: area/modules, area/docs

#856 feat(redis): collect master link status
  modules/redis/README.md
  modules/redis/charts.go
  modules/redis/collect_info.go
Labels: area/modules, area/docs

#857 fix(postgres): skip collecting db tables/indexes if too many
  modules/postgres/do_query.go
  modules/postgres/do_query_misc.go
  modules/postgres/queries.go
Labels: area/modules

#861 docs(whoisquery): add metrics table
  modules/whoisquery/README.md
Labels: area/modules, area/docs

#862 docs(web_log): add metrics table
  modules/weblog/README.md
  modules/weblog/charts.go
Labels: area/modules, area/docs

#869 docs(supervisord): add metrics table
  modules/supervisord/README.md
Labels: area/modules, area/docs

#889 docs: add modules/i k* metrics tables
  modules/isc_dhcpd/README.md
  modules/k8s_kubelet/README.md
  modules/k8s_kubelet/charts.go
  modules/k8s_kubeproxy/README.md
Labels: area/modules, area/docs

#893 docs: add modules/n* metrics tables
  modules/nginx/README.md
  modules/nginxvts/README.md
Labels: area/modules, area/docs

#894 docs: add modules/o* metrics tables
  modules/nginxvts/README.md
  modules/openvpn/README.md
  modules/openvpn/charts.go
  modules/openvpn_status_log/README.md
Labels: area/modules, area/docs

#896 fix: adjust labels src
  agent/module/charts.go
  agent/module/job.go
Labels: area/agent
