Repository netdata/go.d.plugin, pull requests merged in 2023-05, with the labels that each got.

#1164 Windows hyperv
  modules/windows/README.md
  modules/windows/charts.go
  modules/windows/collect.go
  modules/windows/collect_hyperv.go
  modules/windows/metrics.csv
  modules/windows/testdata/v0.20.0/metrics.txt
  modules/windows/windows.go
  modules/windows/windows_test.go
Labels: area/modules, area/docs

#1175 add hyperv vm cpu usage
  modules/windows/README.md
  modules/windows/charts.go
  modules/windows/collect_hyperv.go
  modules/windows/metrics.csv
  modules/windows/windows_test.go
Labels: area/modules, area/docs

#1179 feat(ping): add 'interface' option
  config/go.d/ping.conf
  modules/ping/init.go
  modules/ping/ping.go
  modules/ping/prober.go
Labels: area/modules, area/conf

#1190 ActiveMQ readme to yaml
  modules/activemq/metadata.yaml
Labels: area/modules

#1191 fix yamls and add more readmes to ymls
  modules/activemq/metadata.yaml
  modules/apache/metadata.yaml
  modules/cassandra/metadata.yaml
  modules/chrony/metadata.yaml
  modules/consul/metadata.yaml
  modules/coredns/metadata.yaml
  modules/dnsmasq_dhcp/metadata.yaml
  modules/dnsquery/metadata.yaml
  modules/docker/metadata.yaml
  modules/elasticsearch/metadata.yaml
  modules/httpcheck/metadata.yaml
  modules/k8s_state/metadata.yaml
  modules/logstash/metadata.yaml
  modules/mongodb/metadata.yaml
  modules/mysql/metadata.yaml
  modules/nginxplus/metadata.yaml
  modules/ntpd/metadata.yaml
  modules/nvidia_smi/metadata.yaml
  modules/nvme/metadata.yaml
  modules/openvpn/metadata.yaml
  modules/openvpn_status_log/metadata.yaml
  modules/pgbouncer/metadata.yaml
  modules/ping/metadata.yaml
  modules/portcheck/metadata.yaml
  modules/postgres/metadata.yaml
  modules/proxysql/metadata.yaml
  modules/pulsar/metadata.yaml
  modules/rabbitmq/metadata.yaml
  modules/systemdunits/metadata.yaml
  modules/whoisquery/metadata.yaml
  modules/windows/metadata.yaml
  modules/wireguard/metadata.yaml
  modules/x509check/metadata.yaml
Labels: area/modules
