Repository netdata/go.d.plugin, pull requests merged in 2023-08, with the labels that each got.

#1291 Update filecheck/metadata.yaml
  modules/filecheck/metadata.yaml
Labels: area/modules

#1292 Update prometheus metadata.yaml
  modules/ping/metadata.yaml
  modules/prometheus/metadata.yaml
  modules/whoisquery/metadata.yaml
Labels: area/modules

#1305 Update metadata.yaml
  modules/prometheus/metadata.yaml
  modules/snmp/metadata.yaml
Labels: area/modules

#1310 fix(nvidia_smi): handle renaming power_readings to gpu_power_readings
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect_xml.go
  modules/nvidia_smi/nvidia_smi_test.go
  modules/nvidia_smi/testdata/rtx-4090-driver-535.xml
Labels: area/modules

#1311 ci bump go v1.21
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: area/CI

#1318 Update related resources sections to use ids.
  modules/activemq/metadata.yaml
  modules/apache/metadata.yaml
  modules/elasticsearch/metadata.yaml
  modules/envoy/metadata.yaml
  modules/geth/metadata.yaml
  modules/k8s_kubelet/metadata.yaml
  modules/k8s_kubeproxy/metadata.yaml
  modules/lighttpd/metadata.yaml
  modules/mysql/metadata.yaml
  modules/nginx/metadata.yaml
  modules/nginxvts/metadata.yaml
  modules/postgres/metadata.yaml
  modules/pulsar/metadata.yaml
  modules/redis/metadata.yaml
  modules/springboot2/metadata.yaml
  modules/zookeeper/metadata.yaml
Labels: area/modules

#1312 added CrowdSec Prometheus metrics URL
  config/go.d/prometheus.conf
Labels: area/modules, area/conf
