Repository netdata/go.d.plugin, pull requests merged in 2023-02, with the labels that each got.

#1073 MSSQL: New metric menus
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect_mssql.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#1055 NET Framework metrics
  modules/wmi/README.md
  modules/wmi/charts.go
  modules/wmi/collect.go
  modules/wmi/collect_netframework.go
  modules/wmi/testdata/v0.20.0/metrics.txt
  modules/wmi/wmi.go
  modules/wmi/wmi_test.go
Labels: area/modules, area/docs

#1075 Rename module (WMI -> Windows)
  README.md
  config/go.d.conf
  config/go.d/windows.conf
  modules/init.go
  modules/windows/README.md
  modules/windows/charts.go
  modules/windows/collect.go
  modules/windows/collect_ad.go
  modules/windows/collect_adcs.go
  modules/windows/collect_adfs.go
  modules/windows/collect_collector.go
  modules/windows/collect_cpu.go
  modules/windows/collect_iis.go
  modules/windows/collect_logical_disk.go
  modules/windows/collect_logon.go
  modules/windows/collect_memory.go
  modules/windows/collect_mssql.go
  modules/windows/collect_net.go
  modules/windows/collect_netframework.go
  modules/windows/collect_os.go
  modules/windows/collect_process.go
  modules/windows/collect_service.go
  modules/windows/collect_system.go
  modules/windows/collect_tcp.go
  modules/windows/collect_thermalzone.go
  modules/windows/init.go
  modules/windows/testdata/v0.20.0/metrics.txt
  modules/windows/windows.go
  modules/windows/windows_test.go
Labels: area/modules, area/docs, area/conf

#1076 prefer user wmi.conf over windows.conf
  agent/job/discovery/file/parse.go
  agent/setup.go
Labels: area/agent

#1077 Add AD metrics
  modules/windows/README.md
  modules/windows/charts.go
  modules/windows/collect_ad.go
  modules/windows/testdata/v0.20.0/metrics.txt
  modules/windows/windows_test.go
Labels: area/modules, area/docs

#1087 Add description about options to documentation
  modules/windows/README.md
Labels: area/modules, area/docs

#1083 Fix broken links in .md files
  README.md
  pkg/README.md
  pkg/iprange/README.md
  pkg/matcher/README.md
  pkg/prometheus/selector/README.md
  pkg/stm/README.md
  pkg/tlscfg/README.md
  pkg/web/README.md
Labels: area/docs, area/pkg

#1089 add virtual nodes functionality
  agent/agent.go
  agent/job/build/build.go
  agent/job/confgroup/group.go
  agent/job/vnode/testdata/config.yaml
  agent/job/vnode/vnode.go
  agent/job/vnode/vnode_test.go
  agent/module/job.go
  agent/netdataapi/api.go
  agent/setup.go
  cmd/godplugin/main.go
Labels: area/agent

#1091 Move all module writing info to how-to-write-a-module and improve it
  README.md
  docs/how-to-write-a-module.md
Labels: area/docs

#1078 Exchange metrics
  modules/windows/README.md
  modules/windows/charts.go
  modules/windows/collect.go
  modules/windows/collect_exchange.go
  modules/windows/testdata/v0.20.0/metrics.txt
  modules/windows/windows.go
  modules/windows/windows_test.go
Labels: area/modules, area/docs

#1096 bump go v1.20
  .github/workflows/test.yml
  go.mod
Labels: area/CI

#1100 disable vhosts api if no vhosts defined
  agent/agent.go
  agent/job/vnode/vnode.go
  agent/module/job.go
Labels: area/agent

#1101 disable vhosts api if no vhosts defined
  agent/agent.go
  agent/setup.go
Labels: area/agent

#1103 Make the title metadata the H1 in markdown files
  modules/filecheck/README.md
  modules/geth/README.md
  modules/weblog/README.md
  pkg/prometheus/selector/README.md
Labels: area/modules, area/docs, area/pkg

#1104 postgres: add jobs with netdata user
  config/go.d/postgres.conf
Labels: area/modules, area/conf
