Repository netdata/go.d.plugin, pull requests merged in 2023-06, with the labels that each got.

#1194 Update collector yamls
  modules/cockroachdb/metadata.yaml
  modules/couchdb/metadata.yaml
  modules/dnsdist/metadata.yaml
  modules/dnsmasq/metadata.yaml
Labels: area/modules

#1198 activemq configuration examples
  modules/activemq/metadata.yaml
Labels: area/modules

#1199 postgres: add parent_table label to table/index metrics
  agent/module/job.go
  modules/postgres/README.md
  modules/postgres/charts.go
  modules/postgres/do_query_indexes.go
  modules/postgres/do_query_tables.go
  modules/postgres/metadata.yaml
  modules/postgres/metrics.csv
  modules/postgres/metrics.go
  modules/postgres/queries.go
Labels: area/modules, area/docs, area/agent

#1200 postgres: configurable table/index limits
  config/go.d/postgres.conf
  modules/postgres/do_query_misc.go
  modules/postgres/postgres.go
Labels: area/modules, area/conf

#1203 Update Cassandra yaml
  modules/activemq/metadata.yaml
  modules/apache/metadata.yaml
  modules/cassandra/README.md
  modules/cassandra/metadata.yaml
Labels: area/modules, area/docs

#1205 fix parent_table in doDBQueryStatIOUserTables
  modules/postgres/do_query_tables.go
Labels: area/modules

#1206 update meta and readme
  modules/activemq/README.md
  modules/activemq/metadata.yaml
  modules/apache/README.md
  modules/apache/metadata.yaml
  modules/cassandra/README.md
  modules/cassandra/metadata.yaml
  modules/chrony/README.md
  modules/chrony/metadata.yaml
  modules/cockroachdb/README.md
  modules/cockroachdb/metadata.yaml
  modules/whoisquery/README.md
  modules/whoisquery/metadata.yaml
  modules/wireguard/README.md
  modules/wireguard/metadata.yaml
  modules/x509check/README.md
  modules/x509check/metadata.yaml
  modules/zookeeper/README.md
  modules/zookeeper/metadata.yaml
Labels: area/modules, area/docs

#1207 Update readmes and fix some yaml inconsistencies
  modules/activemq/README.md
  modules/activemq/metadata.yaml
  modules/apache/README.md
  modules/apache/metadata.yaml
  modules/dnsdist/README.md
  modules/dnsdist/metadata.yaml
  modules/dnsmasq/README.md
  modules/dnsmasq/metadata.yaml
  modules/dnsmasq_dhcp/README.md
  modules/dnsmasq_dhcp/metadata.yaml
Labels: area/modules, area/docs

#1210 update meta and readme
  modules/powerdns/README.md
  modules/powerdns/metadata.yaml
  modules/powerdns_recursor/README.md
  modules/powerdns_recursor/metadata.yaml
  modules/proxysql/README.md
  modules/proxysql/metadata.yaml
  modules/rabbitmq/README.md
  modules/rabbitmq/metadata.yaml
Labels: area/modules, area/docs
