Repository netdata/go.d.plugin, pull requests merged in 2023-07, with the labels that each got.

#1226 fix collecting hostgroup from stats_mysql_connection_pool
  modules/proxysql/collect.go
  modules/proxysql/testdata/v2.0.10/stats_mysql_connection_pool .txt
Labels: area/modules

#1227 feat(elasticseach): add cluster_mode
  agent/module/charts.go
  config/go.d/elasticsearch.conf
  modules/elasticsearch/README.md
  modules/elasticsearch/charts.go
  modules/elasticsearch/collect.go
  modules/elasticsearch/elasticsearch.go
  modules/elasticsearch/elasticsearch_test.go
  modules/elasticsearch/init.go
  modules/elasticsearch/metadata.yaml
  modules/elasticsearch/metrics.csv
  modules/elasticsearch/metrics.go
  modules/elasticsearch/testdata/v7.9.0/cluster_health.json
  modules/elasticsearch/testdata/v7.9.0/cluster_stats.json
  modules/elasticsearch/testdata/v7.9.0/info.json
  modules/elasticsearch/testdata/v7.9.0/nodes_local_stats.json
  modules/elasticsearch/testdata/v8.4.2/cat_indices_stats.json
  modules/elasticsearch/testdata/v8.4.2/cluster_health.json
  modules/elasticsearch/testdata/v8.4.2/cluster_stats.json
  modules/elasticsearch/testdata/v8.4.2/info.json
  modules/elasticsearch/testdata/v8.4.2/nodes_local_stats.json
  modules/elasticsearch/testdata/v8.4.2/nodes_stats.json
Labels: area/modules, area/docs, area/agent, area/conf

#1233 Update yamls
  modules/activemq/metadata.yaml
  modules/apache/metadata.yaml
  modules/chrony/metadata.yaml
Labels: area/modules

#1235 enable systemdunits by default
  config/go.d.conf
  modules/systemdunits/README.md
  modules/systemdunits/metadata.yaml
  modules/systemdunits/systemdunits.go
Labels: area/modules, area/docs, area/conf

#1237 update nginx meta
  modules/nginx/metadata.yaml
Labels: area/modules

#1241 Yaml updates
  modules/consul/metadata.yaml
  modules/elasticsearch/metadata.yaml
  modules/redis/metadata.yaml
Labels: area/modules

#1242 update mysql meta
  modules/mysql/metadata.yaml
Labels: area/modules

#1243 Add metadata.yaml for docker
  modules/docker/metadata.yaml
Labels: area/modules

#1244 Fill in yaml for docker_engine plus a small fix on Consul
  modules/consul/metadata.yaml
  modules/docker_engine/metadata.yaml
Labels: area/modules

#1245 update postgres meta
  modules/postgres/metadata.yaml
Labels: area/modules

#1246 Update pgbouncer/README.md
  modules/pgbouncer/README.md
  modules/pgbouncer/metadata.yaml
Labels: area/modules, area/docs

#1254 change existing valid meta from single to multi
  modules/activemq/metadata.yaml
  modules/activemq/multi_metadata.yaml
  modules/cassandra/metadata.yaml
  modules/cassandra/multi_metadata.yaml
  modules/chrony/metadata.yaml
  modules/chrony/multi_metadata.yaml
  modules/consul/metadata.yaml
  modules/consul/multi_metadata.yaml
  modules/docker/metadata.yaml
  modules/docker/multi_metadata.yaml
  modules/docker_engine/metadata.yaml
  modules/docker_engine/multi_metadata.yaml
  modules/nginx/metadata.yaml
  modules/nginx/multi_metadata.yaml
  modules/postgres/metadata.yaml
  modules/postgres/multi_metadata.yaml
  modules/redis/metadata.yaml
  modules/redis/multi_metadata.yaml
  modules/wireguard/metadata.yaml
  modules/wireguard/multi_metadata.yaml
  modules/x509check/metadata.yaml
  modules/x509check/multi_metadata.yaml
  modules/zookeeper/metadata.yaml
  modules/zookeeper/multi_metadata.yaml
Labels: area/modules

#1255 make meta pass the schema
  modules/cockroachdb/metadata.yaml
  modules/cockroachdb/multi_metadata.yaml
  modules/coredns/metadata.yaml
  modules/coredns/multi_metadata.yaml
  modules/couchbase/metadata.yaml
  modules/couchbase/multi_metadata.yaml
  modules/couchdb/metadata.yaml
  modules/couchdb/multi_metadata.yaml
  modules/dnsdist/metadata.yaml
  modules/dnsdist/multi_metadata.yaml
  modules/dnsmasq/metadata.yaml
  modules/dnsmasq/multi_metadata.yaml
  modules/dnsmasq_dhcp/metadata.yaml
  modules/dnsmasq_dhcp/multi_metadata.yaml
  modules/dnsquery/metadata.yaml
  modules/dnsquery/multi_metadata.yaml
  modules/dockerhub/metadata.yaml
  modules/dockerhub/multi_metadata.yaml
  modules/vcsa/metadata.yaml
  modules/vcsa/multi_metadata.yaml
  modules/vernemq/metadata.yaml
  modules/vernemq/multi_metadata.yaml
Labels: area/modules

#1253 add prometheus integrations to multi_metadata.yaml
  modules/prometheus/multi_metadata.yaml
  modules/prometheus/wip_meta.yaml
Labels: area/modules

#1256 prometheus meta updates
  modules/prometheus/multi_metadata.yaml
  modules/prometheus/wip_meta.yaml
Labels: area/modules

#1258 meta update multi instance key
  modules/activemq/multi_metadata.yaml
  modules/apache/multi_metadata.yaml
  modules/cassandra/multi_metadata.yaml
  modules/chrony/multi_metadata.yaml
  modules/cockroachdb/multi_metadata.yaml
  modules/consul/multi_metadata.yaml
  modules/coredns/multi_metadata.yaml
  modules/couchbase/multi_metadata.yaml
  modules/couchdb/multi_metadata.yaml
  modules/dnsdist/multi_metadata.yaml
  modules/dnsmasq/multi_metadata.yaml
  modules/dnsmasq_dhcp/multi_metadata.yaml
  modules/dnsquery/multi_metadata.yaml
  modules/docker/multi_metadata.yaml
  modules/docker_engine/multi_metadata.yaml
  modules/dockerhub/multi_metadata.yaml
  modules/elasticsearch/multi_metadata.yaml
  modules/mysql/multi_metadata.yaml
  modules/nginx/multi_metadata.yaml
  modules/postgres/multi_metadata.yaml
  modules/prometheus/multi_metadata.yaml
  modules/redis/multi_metadata.yaml
  modules/vcsa/multi_metadata.yaml
  modules/vernemq/multi_metadata.yaml
  modules/windows/multi_metadata.yaml
  modules/wireguard/multi_metadata.yaml
  modules/x509check/multi_metadata.yaml
  modules/zookeeper/multi_metadata.yaml
Labels: area/modules

#1259 update module meta
  modules/filecheck/metadata.yaml
  modules/filecheck/multi_metadata.yaml
  modules/fluentd/metadata.yaml
  modules/fluentd/multi_metadata.yaml
  modules/haproxy/metadata.yaml
  modules/haproxy/multi_metadata.yaml
  modules/nginxplus/metadata.yaml
  modules/nginxplus/multi_metadata.yaml
  modules/systemdunits/metadata.yaml
  modules/systemdunits/multi_metadata.yaml
  modules/tengine/metadata.yaml
  modules/tengine/multi_metadata.yaml
  modules/traefik/metadata.yaml
  modules/traefik/multi_metadata.yaml
Labels: area/modules

#1267 remove unneeded k8s state labels
  modules/k8s_state/README.md
  modules/k8s_state/charts.go
Labels: area/modules, area/docs

#1270 Update multi_metadata.yaml
  modules/windows/multi_metadata.yaml
Labels: area/modules

#1272 fix icons mainly for authentication and cloud provider
  modules/freeradius/multi_metadata.yaml
  modules/prometheus/multi_metadata.yaml
Labels: area/modules

#1274 Updating icons to svg
  modules/mysql/multi_metadata.yaml
Labels: area/modules

#1273 another prom updates
  modules/prometheus/multi_metadata.yaml
  modules/prometheus/wip_meta.yaml
Labels: area/modules

#1276 Fix icons for DB integrations
  modules/cassandra/multi_metadata.yaml
  modules/cockroachdb/multi_metadata.yaml
  modules/couchbase/multi_metadata.yaml
  modules/couchdb/multi_metadata.yaml
  modules/mongodb/multi_metadata.yaml
  modules/pgbouncer/multi_metadata.yaml
  modules/pika/multi_metadata.yaml
  modules/postgres/multi_metadata.yaml
  modules/prometheus/multi_metadata.yaml
  modules/prometheus/wip_meta.yaml
  modules/proxysql/multi_metadata.yaml
  modules/redis/multi_metadata.yaml
Labels: area/modules

#1279 review images for integrations from security to windows systems
  modules/consul/multi_metadata.yaml
  modules/hdfs/multi_metadata.yaml
  modules/nvme/multi_metadata.yaml
  modules/openvpn/multi_metadata.yaml
  modules/openvpn_status_log/multi_metadata.yaml
  modules/prometheus/multi_metadata.yaml
  modules/prometheus/wip_meta.yaml
  modules/scaleio/multi_metadata.yaml
  modules/systemdunits/multi_metadata.yaml
  modules/windows/multi_metadata.yaml
  modules/wireguard/multi_metadata.yaml
  modules/zookeeper/multi_metadata.yaml
Labels: area/modules

#1283 Fix icons
  modules/nginx/metadata.yaml
  modules/prometheus/metadata.yaml
Labels: area/modules

#1282 categorization fixes
  modules/prometheus/metadata.yaml
Labels: area/modules

#1285 fix icon of startwind
  modules/prometheus/metadata.yaml
Labels: area/modules

#1287 Update metadata.yaml
  modules/windows/metadata.yaml
Labels: area/modules
