Repository netdata/go.d.plugin, pull requests merged in 2023-10, with the labels that each got.

#1352 Update metadata.yaml
  modules/windows/metadata.yaml
Labels: area/modules

#1355 Update generate-integrations-docs.yml
  .github/workflows/generate-integrations-docs.yml
Labels: area/CI

#1360 Remove second category from three prometheus integrations
  modules/prometheus/metadata.yaml
Labels: area/modules

#1361 Update categorization of dynatrace
  modules/prometheus/metadata.yaml
Labels: area/modules

#1364 netdataapi: improve performance of most used calls
  agent/netdataapi/api.go
  agent/netdataapi/api_test.go
Labels: area/agent

#1367 Update modules/prometheus/metadata.yaml to not have conflicting names with native collectors
  modules/prometheus/metadata.yaml
Labels: area/modules

#1370 write only CHART if obsolete
  agent/module/job.go
  agent/netdataapi/api.go
  agent/netdataapi/api_test.go
Labels: area/agent

#1371 enable Dyncfg only in debug mode
  agent/agent.go
Labels: area/agent

#1373 add agent-service-discovery step1
  agent/discovery/sd/discoverer/config.go
  agent/discovery/sd/discoverer/kubernetes/clientset.go
  agent/discovery/sd/discoverer/kubernetes/config.go
  agent/discovery/sd/discoverer/kubernetes/kubernetes.go
  agent/discovery/sd/discoverer/kubernetes/kubernetes_test.go
  agent/discovery/sd/discoverer/kubernetes/pod.go
  agent/discovery/sd/discoverer/kubernetes/pod_test.go
  agent/discovery/sd/discoverer/kubernetes/service.go
  agent/discovery/sd/discoverer/kubernetes/service_test.go
  agent/discovery/sd/discoverer/kubernetes/sim_test.go
  agent/discovery/sd/discoverer/manager.go
  agent/discovery/sd/discoverer/manager_test.go
  agent/discovery/sd/discoverer/sim_test.go
  agent/discovery/sd/discovery.go
  agent/discovery/sd/model/tags.go
  agent/discovery/sd/model/tags_test.go
  agent/discovery/sd/model/target.go
  agent/discovery/sd/pipeline/config.go
  agent/discovery/sd/pipeline/funcmap.go
  agent/discovery/sd/pipeline/funcmap_test.go
  agent/discovery/sd/pipeline/pipeline.go
  agent/discovery/sd/pipeline/selector.go
  agent/discovery/sd/pipeline/selector_test.go
  go.mod
  go.sum
Labels: area/agent

#1374 dyncfg: send reset on reload
  agent/agent.go
  agent/discovery/dyncfg/config.go
  agent/discovery/dyncfg/dyncfg.go
  agent/discovery/dyncfg/dyncfg_test.go
  agent/functions/manager.go
  agent/netdataapi/api.go
  agent/netdataapi/api_test.go
Labels: area/agent

#1375 add agent-service-discovery wip
  agent/discovery/sd/discoverer/accumulator.go
  agent/discovery/sd/discoverer/config.go
  agent/discovery/sd/discoverer/funcmap.go
  agent/discovery/sd/discoverer/funcmap_test.go
  agent/discovery/sd/discoverer/kubernetes/config.go
  agent/discovery/sd/discoverer/kubernetes/kubernetes.go
  agent/discovery/sd/discoverer/kubernetes/kubernetes_test.go
  agent/discovery/sd/discoverer/kubernetes/pod.go
  agent/discovery/sd/discoverer/kubernetes/pod_test.go
  agent/discovery/sd/discoverer/kubernetes/service.go
  agent/discovery/sd/discoverer/kubernetes/service_test.go
  agent/discovery/sd/discoverer/manager.go
  agent/discovery/sd/discoverer/manager_test.go
  agent/discovery/sd/discoverer/selector.go
  agent/discovery/sd/discoverer/selector_test.go
  agent/discovery/sd/discoverer/sim_test.go
  agent/discovery/sd/model/target.go
  agent/discovery/sd/pipeline/config.go
  agent/discovery/sd/pipeline/pipeline.go
  pkg/k8sclient/k8sclient.go
Labels: area/agent, area/pkg

#1385 discovery sd pipeline tests
  agent/discovery/sd/pipeline/accumulator.go
  agent/discovery/sd/pipeline/classify.go
  agent/discovery/sd/pipeline/classify_test.go
  agent/discovery/sd/pipeline/compose.go
  agent/discovery/sd/pipeline/compose_test.go
  agent/discovery/sd/pipeline/pipeline.go
  agent/discovery/sd/pipeline/pipeline_test.go
  agent/discovery/sd/pipeline/selector_test.go
  agent/discovery/sd/pipeline/sim_test.go
Labels: area/agent

#1390 mysql: Use Performance Schema processlist implementation if available
  modules/mysql/collect_global_vars.go
  modules/mysql/collect_process_list.go
  modules/mysql/mysql.go
  modules/mysql/mysql_test.go
  modules/mysql/testdata/mariadb/v10.8.4-galera-cluster/global_variables.txt
  modules/mysql/testdata/mariadb/v10.8.4/global_variables.txt
  modules/mysql/testdata/mysql/v8.0.30/global_variables.txt
  modules/mysql/testdata/percona/v8.0.29/global_variables.txt
Labels: area/modules

#1392 mysql: Do not use deprecated SHOW SLAVE STATUS
  modules/mysql/collect_slave_status.go
  modules/mysql/metadata.yaml
  modules/mysql/mysql_test.go
  modules/mysql/testdata/mysql/v8.0.30/slave_status_multi_source.txt
Labels: area/modules

#1397 sd: make discovery responsible for tagging
  agent/discovery/sd/kubernetes/config.go
  agent/discovery/sd/kubernetes/kubernetes.go
  agent/discovery/sd/kubernetes/kubernetes_test.go
  agent/discovery/sd/kubernetes/pod.go
  agent/discovery/sd/kubernetes/pod_test.go
  agent/discovery/sd/kubernetes/service.go
  agent/discovery/sd/kubernetes/service_test.go
  agent/discovery/sd/kubernetes/sim_test.go
  agent/discovery/sd/pipeline/accumulator.go
  agent/discovery/sd/pipeline/config.go
  agent/discovery/sd/pipeline/pipeline.go
  agent/discovery/sd/pipeline/pipeline_test.go
  agent/discovery/sd/pipeline/qq.yaml
  agent/discovery/sd/pipeline/sim_test.go
Labels: area/agent

#1388 add sd host network socket
  agent/discovery/sd/hostsocket/config.go
  agent/discovery/sd/hostsocket/net.go
  agent/discovery/sd/hostsocket/net_test.go
  agent/discovery/sd/hostsocket/sim_test.go
  agent/discovery/sd/kubernetes/kubernetes.go
  agent/discovery/sd/kubernetes/kubernetes_test.go
  agent/discovery/sd/kubernetes/pod.go
  agent/discovery/sd/kubernetes/pod_test.go
  agent/discovery/sd/kubernetes/service.go
  agent/discovery/sd/kubernetes/service_test.go
  agent/discovery/sd/kubernetes/sim_test.go
  agent/discovery/sd/pipeline/config.go
  agent/discovery/sd/pipeline/pipeline.go
Labels: area/agent

#1399 add ReadLastLines func
  go.mod
  go.sum
  pkg/logs/lastline.go
Labels: area/pkg

#1400 chore(traefik): fix typo in metadata.yaml
  modules/traefik/metadata.yaml
Labels: area/modules

#1406 chore: add sd tests
  agent/discovery/sd/manager.go
  agent/discovery/sd/manager_test.go
  agent/discovery/sd/sd.go
  agent/discovery/sd/sd_test.go
  agent/discovery/sd/sim_test.go
Labels: area/agent
