Repository netdata/go.d.plugin, pull requests merged in 2023-11, with the labels that each got.

#1409 Fix isc_dhcpd conf file name
  modules/isc_dhcpd/metadata.yaml
Labels: area/modules

#1413 use doublestar instead of glob
  agent/discovery/sd/pipeline/classify.go
  agent/discovery/sd/pipeline/compose.go
  agent/discovery/sd/pipeline/funcmap.go
  go.mod
  go.sum
Labels: area/agent

#1416 logs: support nested json
  pkg/logs/json.go
  pkg/logs/json_test.go
Labels: area/pkg

#1417 add structured logger
  agent/executable/name.go
  go.mod
  go.sum
  slogger/default.go
  slogger/level.go
  slogger/slogger.go
  slogger/slogger_test.go
Labels: area/agent

#1418 replace logger with structured
  agent/agent.go
  agent/discovery/dummy/discovery.go
  agent/discovery/dyncfg/dyncfg.go
  agent/discovery/file/discovery.go
  agent/discovery/file/read.go
  agent/discovery/file/watch.go
  agent/discovery/manager.go
  agent/discovery/sd/hostsocket/net.go
  agent/discovery/sd/kubernetes/kubernetes.go
  agent/discovery/sd/kubernetes/pod.go
  agent/discovery/sd/kubernetes/service.go
  agent/discovery/sd/pipeline/pipeline.go
  agent/discovery/sd/pipeline/sim_test.go
  agent/discovery/sd/sim_test.go
  agent/filestatus/manager.go
  agent/functions/manager.go
  agent/jobmgr/manager.go
  agent/module/job.go
  agent/vnodes/vnodes.go
  cmd/godplugin/main.go
  examples/simple/main.go
  logger/countwatcher.go
  logger/countwatcher_test.go
  logger/default.go
  logger/formatter.go
  logger/formatter_test.go
  logger/handler.go
  logger/level.go
  logger/logger.go
  logger/logger_test.go
  logger/severity.go
  logger/static.go
  pkg/stm/stm.go
  slogger/default.go
  slogger/slogger.go
  slogger/slogger_test.go
Labels: area/agent, area/pkg

#1419 mute stock config jobs logging during init() and check()
  agent/jobmgr/manager.go
  agent/module/job.go
  agent/setup.go
  logger/handler.go
  logger/level.go
  logger/logger.go
Labels: area/agent

#1420 mute stock jobs on terminal if not debug
  agent/jobmgr/manager.go
  logger/logger.go
Labels: area/agent

#1421 update logging component/collector attrs
  agent/agent.go
  agent/discovery/dummy/discovery.go
  agent/discovery/dyncfg/dyncfg.go
  agent/discovery/file/discovery.go
  agent/discovery/file/read.go
  agent/discovery/file/watch.go
  agent/discovery/manager.go
  agent/discovery/sd/hostsocket/net.go
  agent/discovery/sd/kubernetes/kubernetes.go
  agent/discovery/sd/kubernetes/pod.go
  agent/discovery/sd/kubernetes/service.go
  agent/discovery/sd/pipeline/pipeline.go
  agent/filestatus/manager.go
  agent/functions/manager.go
  agent/jobmgr/manager.go
  agent/module/job.go
  agent/vnodes/vnodes.go
Labels: area/agent

#1427 logger: skip time when logging to journal
  logger/handler.go
  logger/logger.go
Labels: area/agent

#1429 httpcheck: treat redirect as success if 301 in accepted
  modules/httpcheck/charts.go
  modules/httpcheck/collect.go
  modules/httpcheck/httpcheck_test.go
  modules/httpcheck/metadata.yaml
  modules/httpcheck/metrics.go
Labels: area/modules

#1430 SEO Changes for Collector names
  modules/prometheus/metadata.yaml
Labels: area/modules
