Repository netdata/go.d.plugin, pull requests merged in 2023-03, with the labels that each got.

#1112 dnsquery: collect query time on any response
  modules/dnsquery/collect.go
Labels: area/modules

#1113 Fix a typo in wireguard module
  modules/wireguard/charts.go
Labels: area/modules

#1114 fix(rabbitmq): use int64 for metrics
  modules/rabbitmq/metrics.go
Labels: area/modules

#1115 Replace links to learn pages with github links
  modules/windows/README.md
Labels: area/modules, area/docs

#1127 fix unknown HOST on cleanup
  agent/module/job.go
Labels: area/agent

#1133 add cookie_file config option
  modules/httpcheck/charts.go
  modules/httpcheck/collect.go
  modules/httpcheck/cookiejar.go
  modules/httpcheck/httpcheck.go
  modules/httpcheck/httpcheck_test.go
  modules/httpcheck/metrics.go
  modules/httpcheck/testdata/cookie.txt
  pkg/web/request.go
Labels: area/modules, area/pkg

#1136 docker: add api version negotiation
  modules/docker/collect.go
  modules/docker/docker.go
  modules/docker/docker_test.go
Labels: area/modules

#1140 add opensearch job config
  config/go.d/elasticsearch.conf
Labels: area/modules, area/conf
