Repository netdata/go.d.plugin, pull requests merged in 2023-09, with the labels that each got.

#1331 vsphere: add labels to chart
  config/go.d/vsphere.conf
  modules/vsphere/README.md
  modules/vsphere/charts.go
  modules/vsphere/collect.go
  modules/vsphere/discover.go
  modules/vsphere/init.go
  modules/vsphere/metadata.yaml
  modules/vsphere/vsphere.go
  modules/vsphere/vsphere_test.go
Labels: area/modules, area/docs, area/conf

#1332 vcsa: fix status charts
  modules/vcsa/README.md
  modules/vcsa/charts.go
  modules/vcsa/collect.go
  modules/vcsa/init.go
  modules/vcsa/metadata.yaml
  modules/vcsa/vcsa.go
  modules/vcsa/vcsa_test.go
Labels: area/modules, area/docs

#1334 openvpn_status_log: Do not count "UNDEF" users
  modules/openvpn_status_log/collect.go
Labels: area/modules

#1336 update govmomi lib
  go.mod
  go.sum
  modules/vsphere/vsphere_test.go
Labels: area/modules

#1341 add upsd (nut) collector
  README.md
  config/go.d.conf
  config/go.d/upsd.conf
  modules/init.go
  modules/upsd/README.md
  modules/upsd/charts.go
  modules/upsd/client.go
  modules/upsd/collect.go
  modules/upsd/metadata.yaml
  modules/upsd/upsd.go
  modules/upsd/upsd_test.go
  modules/upsd/variables.go
Labels: area/modules, area/docs, area/conf

#1342 upsd: rename leftovers
  modules/upsd/client.go
  modules/upsd/collect.go
  modules/upsd/upsd.go
  modules/upsd/upsd_test.go
Labels: area/modules

#1343 add simple custom numeric field
  config/go.d/web_log.conf
  modules/weblog/README.md
  modules/weblog/charts.go
  modules/weblog/collect.go
  modules/weblog/init.go
  modules/weblog/logline.go
  modules/weblog/metadata.yaml
  modules/weblog/metrics.go
  modules/weblog/weblog.go
  modules/weblog/weblog_test.go
Labels: area/modules, area/docs, area/conf

#1330 Create generate-integrations-docs.yml
  .github/workflows/generate-integrations-docs.yml
Labels: area/CI

#1346 Do not stop collecting mysql statistics because of timeout
  modules/mysql/collect.go
Labels: area/modules
