Repository netdata/go.d.plugin, pull requests merged in 2023-01, with the labels that each got.

#1047 feat(rabbitmq): collect queues metrics and cleanup
  config/go.d/rabbitmq.conf
  modules/rabbitmq/README.md
  modules/rabbitmq/charts.go
  modules/rabbitmq/client.go
  modules/rabbitmq/collect.go
  modules/rabbitmq/metrics.go
  modules/rabbitmq/rabbitmq.go
  modules/rabbitmq/rabbitmq_test.go
  modules/rabbitmq/testdata/node.json
  modules/rabbitmq/testdata/overview.json
  modules/rabbitmq/testdata/v3.11.5/api-nodes-node.json
  modules/rabbitmq/testdata/v3.11.5/api-overview.json
  modules/rabbitmq/testdata/v3.11.5/api-queues.json
  modules/rabbitmq/testdata/v3.11.5/api-vhosts.json
  modules/rabbitmq/testdata/vhosts.json
Labels: area/modules, area/docs, area/conf

#1048 feat(nvidia-smi): collect Voltage (XML only)
  modules/nvidia_smi/README.md
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect_xml.go
  modules/nvidia_smi/nvidia_smi_test.go
Labels: area/modules, area/docs

#1051 redis: allow to set user/password via config options
  config/go.d/redis.conf
  modules/redis/README.md
  modules/redis/init.go
  modules/redis/redis.go
Labels: area/modules, area/docs, area/conf

#1052 fix(rabbitmq): fix collecting messages stats
  modules/rabbitmq/metrics.go
  modules/rabbitmq/rabbitmq_test.go
  modules/rabbitmq/testdata/v3.11.5/api-queues.json
  modules/rabbitmq/testdata/v3.11.5/api-vhosts.json
Labels: area/modules

#1053 postgres: add size var to bloat perc charts
  agent/module/charts.go
  agent/module/job.go
  modules/postgres/charts.go
Labels: area/modules, area/agent

#1054 fix(consul): skip autopilot health if cloud managed
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_config.go
  modules/consul/collect_metrics.go
  modules/consul/consul.go
  modules/consul/consul_test.go
  modules/consul/init.go
  modules/consul/testdata/v1.13.2/server_v1-agent-self_cloud-managed.json
  modules/consul/testdata/v1.14.3-cloud/server_v1-agent-metrics.txt
  modules/consul/testdata/v1.14.3-cloud/server_v1-agent-self.json
  modules/consul/testdata/v1.14.3-cloud/server_v1-coordinate-nodes.json
  modules/consul/testdata/v1.14.3-cloud/v1-agent-checks.json
Labels: area/modules

#1056 feat(consul): collect license expiration time
  modules/consul/README.md
  modules/consul/charts.go
  modules/consul/collect.go
  modules/consul/collect_config.go
  modules/consul/collect_metrics.go
  modules/consul/consul_test.go
  modules/consul/testdata/v1.14.3-cloud/server_v1-agent-self.json
Labels: area/modules, area/docs

#1063 allow custom chart type in typeID
  agent/module/charts.go
  agent/module/job.go
  modules/k8s_state/charts.go
Labels: area/modules, area/agent

#1064 allow to override module name
  agent/module/charts.go
  agent/module/job.go
Labels: area/agent

#1065 Reorganize wmi menus
  modules/wmi/README.md
  modules/wmi/charts.go
Labels: area/modules, area/docs

#1066 feat(nvidia_smi): collect PCIe bandwidth utilization (XML only)
  modules/nvidia_smi/README.md
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect.go
  modules/nvidia_smi/collect_xml.go
  modules/nvidia_smi/nvidia_smi_test.go
Labels: area/modules, area/docs

#1068 Modify documentation
  modules/wmi/README.md
Labels: area/modules, area/docs

#1069 Add Cassandra readme to learn
  modules/cassandra/README.md
Labels: area/modules, area/docs

#1071 Add go.d.plugin readme to learn
  README.md
Labels: area/docs

#1067 feat(nvidia_smi): collect MIG metrics (XML only)
  modules/nvidia_smi/README.md
  modules/nvidia_smi/charts.go
  modules/nvidia_smi/collect.go
  modules/nvidia_smi/collect_csv.go
  modules/nvidia_smi/collect_xml.go
  modules/nvidia_smi/nvidia_smi.go
  modules/nvidia_smi/nvidia_smi_test.go
  modules/nvidia_smi/testdata/a100-sxm4-mig.xml
Labels: area/modules, area/docs

#1072 add small section on how to enable a go collector
  README.md
Labels: area/docs
