Repository netdata/go.d.plugin, pull requests merged in 2024-02, with the labels that each got.

#1472 fix links that were missed
  modules/activemq/integrations/activemq.md
  modules/activemq/metadata.yaml
  modules/consul/integrations/consul.md
  modules/consul/metadata.yaml
  modules/vsphere/integrations/vmware_vcenter_server.md
  modules/vsphere/metadata.yaml
  pkg/prometheus/selector/README.md
Labels: area/modules, area/docs, area/pkg

#1475 The links updated were not a links it's a list of files
  modules/activemq/metadata.yaml
  modules/vsphere/metadata.yaml
Labels: area/modules

#1476 Fix health links
  modules/cockroachdb/metadata.yaml
  modules/consul/metadata.yaml
  modules/dnsmasq_dhcp/metadata.yaml
  modules/dnsquery/metadata.yaml
  modules/docker/metadata.yaml
  modules/elasticsearch/metadata.yaml
  modules/hdfs/metadata.yaml
  modules/k8s_kubelet/metadata.yaml
  modules/mysql/metadata.yaml
  modules/nvme/metadata.yaml
  modules/pihole/metadata.yaml
  modules/ping/metadata.yaml
  modules/portcheck/metadata.yaml
  modules/postgres/metadata.yaml
  modules/redis/metadata.yaml
  modules/systemdunits/metadata.yaml
  modules/upsd/metadata.yaml
  modules/vcsa/metadata.yaml
  modules/vernemq/metadata.yaml
  modules/vsphere/metadata.yaml
  modules/weblog/metadata.yaml
  modules/whoisquery/metadata.yaml
  modules/windows/metadata.yaml
  modules/x509check/metadata.yaml
Labels: area/modules

#1483 use executable directory to find user/stock dirs when env vars not set
  agent/executable/executable.go
  agent/executable/name.go
  cmd/godplugin/main.go
Labels: area/agent
