Repository netdata/go.d.plugin, pull requests merged in 2024-01, with the labels that each got.

#1451 httpcheck: add header_match
  modules/httpcheck/charts.go
  modules/httpcheck/collect.go
  modules/httpcheck/httpcheck.go
  modules/httpcheck/httpcheck_test.go
  modules/httpcheck/init.go
  modules/httpcheck/metadata.yaml
  modules/httpcheck/metrics.go
Labels: area/modules

#1452 disable logind on systemd 239 by default
  agent/confgroup/group.go
  agent/hostinfo/hostinfo.go
  agent/hostinfo/hostinfo_common.go
  agent/hostinfo/hostinfo_linux.go
  agent/setup.go
Labels: area/agent

#1453 prometheus: read from file
  modules/prometheus/metadata.yaml
  pkg/prometheus/client.go
  pkg/prometheus/client_test.go
Labels: area/modules, area/pkg

#1454 weblog: read last N lines on start: 1=>100
  modules/weblog/init.go
Labels: area/modules

#1456 disable dyncfg
  agent/agent.go
Labels: area/agent

#1468 Include timer units failed state alert as default
  modules/systemdunits/metadata.yaml
Labels: area/modules
